{{ open_form({
    'class': 'custom',
    'data-ajax-handler': 'shop:onUpdateCustomerProfile',
    'data-ajax-update': '#marketing-preferences=account-marketing-preferences',
    'data-validation-message' : ''
}) }}
<main class="col-md-6">
        <article>
            <p>Tone Buddy would like to keep in touch with updates and marketing newsletters. Please opt in below if you'd like to hear about the
            latest boutique brands and great offers on subscriptions & pedals.</p>
            <p> You can unsubscribe from these newsletters by following the instructions at the footer of the email. Alternatively you can
            contact us by email or phone to request the same.</p>
        </article>
        <div columns form-group custom-checkbox">
            <input id="marketing-value-input" name="accepts_marketing" type="hidden">
            <input class="custom-control-input" id="marketing-opt-in" type="checkbox">
            <label class="custom-control-label" for="marketing-opt-in">I agree to receive promotional emails</label>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
</main>
{{ close_form() }}    