{{ open_form({
'class': 'custom',
'data-ajax-handler': 'shop:onUpdateCustomerProfile',
'data-ajax-update': '#pedal-update=account-manage-pedals',
'data-validation-message' : ''
}) }}

<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <h3>Add/Remove Pedals From Your Subscription</h3>
                <p>Please find all the pedals in your subscription below. If want to make any changes, simply enter the
                    names of all the pedals you want in the boxes below and click Update.</p>
                <p><small id="messageHelp" class="text-primary">* We can't always guarantee it but we'll do our best to
                        send you the pedals nearest the top of your list.</small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4" id="pedal-update">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12" style="background-image:url({{ '/images/logo_large_transparent.png' | theme_resource }});background-repeat:no-repeat; background-size:contain; background-position:center;">
                <h4>Subscription Pedal List</h4>
                <div class="input-group mb-3">
                    <input name="sub_request_1" class="form-control" value="{{ customer.sub_request_1 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_2" class="form-control" value="{{ customer.sub_request_2 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_3" class="form-control" value="{{ customer.sub_request_3 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_4" class="form-control" value="{{ customer.sub_request_4 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_5" class="form-control" value="{{ customer.sub_request_5 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_6" class="form-control" value="{{ customer.sub_request_6 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_7" class="form-control" value="{{ customer.sub_request_7 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_8" class="form-control" value="{{ customer.sub_request_8 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_9" class="form-control" value="{{ customer.sub_request_9 }}"
                        type="text" />
                </div>
                <div class="input-group mb-3">
                    <input name="sub_request_10" class="form-control" value="{{ customer.sub_request_10 }}"
                        type="text" />
                </div>

                <input name="billing[first_name]" type="hidden" value="{{ billing.first_name }}" />
                <input name="billing[last_name]" type="hidden" value="{{ billing.last_name }}" />
                <input name="billing[email]" type="hidden" value="{{ customer.email }}" />
                <input name="billing[street_address]" type="hidden" value="{{ billing.street_address }}" />
                <input name="billing[city]" type="hidden" value="{{ billing.city }}" />
                <input name="billing[postal_code]" type="hidden" value="{{ billing.postal_code }}" />
                <input name="billing[shop_country_id]" type="hidden" value="{{ billing.country.id }}" />

                <a id="save_profile_button" class="btn btn-outline-dark btn-sm" href="#" data-ajax-handler="shop:onUpdateCustomerProfile"
                    data-ajax-update="#pedal-update=account-manage-pedals" data-ajax-redirect="{{ root_url('account/pedals/') }}"
                    data-validation-message="">
                    Update
                </a>
            </div>
        </div>
    </div>
</div>
{{ close_form() }}