{% if param('updated') %}
    <p class="alert alert-success">Your subscription was updated successfully!</p>
{% else %}
    {{ partial('flash') }}
{% endif %}

<div class="card mb-4">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Started</th>
                        <!-- Not needed for ToneBuddy Subs <th>Number of Products</th> -->
                        <th>Next Renewal Date</th>
                        <th>Next Renewal Amount</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ subscription.created_at.format("m/d/Y") }}</td>
                    <!-- Not needed for ToneBuddy Subs  <td>{{ subscription.products.first.quantity }}</td> -->
                    <td>{{ subscription.nextRenewalDate() }}</td>
                    <td>{{ subscription.nextRenewalAmount() }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% set has_options = false %}

        {% for item in subscription.products %}
            <h4 class="mt-2">{{ item.product.name }}</h4>

            {% if theme.allowOptionChanges and 0 != item.product.options.count %}

                {% set has_options = true %}

                {{ open_form({ 'class': 'subscription-product-form' }) }}

                    <input name="subscription_id" type="hidden" value="{{ subscription.id }}">
                    <input name="item_id" type="hidden" value="{{ item.id }}">
                    <input name="product_id" type="hidden" value="{{ item.product.id }}">
                    <input name="quantity" type="hidden" value="{{ item.quantity }}">
                    <div class="row">
                            <div class="form-group col-md-4 custom-fields">
                               {% for cf in item.getCustomFields() %}
                                 {% if not cf.displayOnly %}
                                    <input type="text" class="form-control custom-field" style="width: 100%;" name="{{ cf.name }}" value="{{ cf.value }}" />
                                 {% endif %}
                               {% endfor %}                                
                           </div>
                    </div>
                    
                    <div class="row">

                        {% for index, option in item.product.options %}

                            <div class="form-group col-md-4">
                                <label class="control-label" for="option-{{ loop.index }}">{{ option.name }}</label>


                                <select id="option-{{ loop.index }}" class="form-control options custom-select" name="options[{{ option.id }}]">

                                    {% for key, value in option.values %}
                                        <option value="{{ key }}" {{ option_state(item.options[option.id]['valueId'], key) }}>{{ value }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                        {% endfor %}

                    </div>

                {{ close_form() }}
            {% endif %}

        {% endfor %}

        {% if has_options %}
            <button class="btn btn-primary btn-update-subscription" type="button">Update Options</button>
        {% endif %}


    </div>
</div>
{% if theme.subscriptionStatusChange or theme.subscriptionBillingPlan %}
<div class="card mb-4">
    <div class="card-body">


        <div class="row">
            <div class="col-lg-7">

                {{ flash() }}
                {{ open_form({
                    'class': 'custom',
                    'data-ajax-handler': 'subscriptions:onUpdateSubscriptionStatus',
                    'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id),
                    'data-validation-message' : ''
                }) }}

                <div class="form-group">
                    <label class="control-label" for="billing-plan">
                        Update subscription
                    </label>
                    <input name="subscription_id" type="hidden" value="{{ subscription.id }}">


                {{ close_form() }}
								
								{% if theme.subscriptionStatusChange %}
                <div class="subscription_status_block active">
                        <div class="subscription_status">
                                Subscription Status:
                                <strong><span class="{ subscription.status.name | default ('trial') | lower}}">
                                    {{ subscription.status.name }}
                                </span></strong>
                        </div>
                        <br/>

                        {% if subscription.status.name not in ['Cancelled', 'Paused'] %}

                            <a class="btn btn-outline-primary subscription_pause"
                                href="#"
                                data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
                                data-ajax-update="#subscription-content=account-subscription-content"
                                data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
                                data-ajax-extra-fields="subscription_status='paused', subscription_id='{{ subscription.id }}">
                                Pause Subscription
                            </a>
                            <a class="subscription_cancel"
                                href="#"
                                data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
                                data-ajax-update="#subscription-content=account-subscription-content"
                                data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
                                data-ajax-extra-fields="subscription_status='cancelled', subscription_id='{{ subscription.id }}">
                                Or, cancel your subscription
                            </a>

                        {% else %}

                            <a class="btn btn-outline-primary subscription_activate"
                                href="#"
                                data-ajax-handler="subscriptions:onUpdateSubscriptionStatus"
                                data-ajax-update="#subscription-content=account-subscription-content"
                                data-ajax-redirect="{{ root_url('/account/subscription/' ~ subscription.id) }}"
                                data-ajax-extra-fields="subscription_status='active',subscription_id='{{ subscription.id }}">
                                <span>Activate Subscription</span>
                            </a>
                        {% endif %}

                    </div>
                    {% endif %}

                </div>


            </div>

			{% if theme.subscriptionBillingPlan %}
	            <div class="col-lg-5">

	                {{ open_form({
	                    'class': 'custom',
	                    'data-ajax-handler': 'subscriptions:onUpdateBillingPlan',
	                    'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id),
	                    'data-validation-message' : ''
	                }) }}

	                    <input name="subscription_id" type="hidden" value="{{ subscription.id }}">

	                    <div class="form-group">
	                        <label class="control-label" for="billing-plan">Change Billing Plan</label>
	                        <select id="billing-plan" class="form-control custom-select" name="billing_plan">
	                            {% for plan in billingPlans %}
	                                <option value="{{ plan.id }}" {{ option_state(plan.id, subscription.billingPlan.id) }}>{{ plan.name }}</option>
	                            {% endfor %}
	                        </select>
	                    </div>

	                    <div class="form-group">
	                        <button class="btn btn-primary" type="submit">Update Subscription</button>
	                    </div>

	                {{ close_form() }}

	            </div>
            {% endif %}

        </div>

    </div>
</div>
{% endif %}

{% if subscription.canReschedule() or subscription.canGenerateOrder() or subscription.canReschedule() %}
<div class="card mb-4">
    <div class="card-body">
        <label class="control-label mb-4">Edit Subscription</label>
        <div class="row">
						<div class="col-lg-6 mb-4">
			      {% if subscription.canReschedule() %}
			        {{ open_form() }}
								<label class="control-label" for="billing-plan">Skip billing cycles:</label>
			          <input type="hidden" name="subscription_id" value="{{ subscription.id }}"/>
			          <input style='width:3em;' type="number" name="skip_billing_cycles" value="3"/>
			          <a href="#" class="btn btn-primary"
			            data-ajax-handler="subscriptions:onSkipBillingCycles"
			            data-ajax-redirect="{{ root_url('account/subscription/' ~ subscription.id) }}"
			          >Skip</a>
			        {{ close_form() }}
			      {% endif %}
			    	</div>

			      <div class="col-lg-6">
			      {% if subscription.canGenerateOrder() %}
			        {{ open_form() }}
			        	<label class="control-label" for="billing-plan">Create an extra paid order:</label>
			          <input type="hidden" name="subscription_id" value="{{ subscription.id }}"/>
			          <a href="#" class="btn btn-primary"
			            data-ajax-handler="subscriptions:onGenerateOrder"
			            data-ajax-redirect="{{ root_url('account/subscription/' ~ subscription.id) }}"
			          >Go</a>
			        {{ close_form() }}
			      {% endif %}
			    	</div>

			      <div class="col-lg-6 mb-4">
			      {% if subscription.canReschedule() %}
			        {{ open_form({
			          'data-ajax-handler': 'subscriptions:subscription',
			          'data-ajax-redirect' : root_url('account/subscription/' ~ subscription.id)
			        }) }}
			        	<label class="control-label" for="billing-plan">Update Next Renewal Date:</label>
			          <input type="hidden" name="subscription_id" value="{{ subscription.id }}"/>
			          <input type="text" style="width:6em;" value="04/06/2018" name="next_invoice_date"/>
			          <input type="submit" class="btn btn-primary" value="Update"/>
			        {{ close_form() }}
			      {% endif %}
			    	</div>
			</div>
	</div>
</div>
{% endif %}
<div class="card">
    <div class="card-body">
        <label class="control-label" for="billing-plan">Subscription payment details</label>
        {% if card %}
          <!-- Render card details -->
            {{ subscriptionCardForm('update',
                {
                    card: card,
                    options: {
                        number: {
                            class: 'disabled',
                            placeholder: 'Card number',
                            style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 32px; color: #555; line-height: 42px; width: 100%;"
                        },
                        cvv: {
                            placeholder: 'CVV',
                            style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                        }
                    }
                },
            { 'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id) }) }}
        {% else %}
          <!-- Example - Drop-In Twig Helper on Subscription Page - Add card form from subscriptions page. -->
            <p>Add Payment Method</p>
            {{ subscriptionCardForm('add',
                {
                    options: {
                        number: {
                            placeholder: 'Card number',
                            style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                        },
                        cvv: {
                            placeholder: 'CVV',
                            style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                        }
                    }
                },
            { 'data-ajax-redirect': root_url('/account/subscription/' ~ subscription.id) }) }}
        {% endif %}

        <style>
        /* Some extra form styles */
        /* Hide the card # border to make it look less editable (as it's not) */
        .number.card-form-input.disabled {
            border: 0;
            padding-left: 0;
            padding-top: .25em;
        }
        /* Hide the card # label as we'll just make the # bigger */
        .card-form-row:first-of-type .card-form-label {
            display: none;
        }
        </style>
    </div>
</div>