{% set banner_classes = [
    'block',
    'block-primary',
    'block-banner',
    'block-middle'
] %}

{% if theme.transparentHeader %}
    {% set banner_classes = banner_classes|merge([ 'block-header-overlay' ]) %}
{% endif %}

{% if theme.homeBannerAlign == 'right' %} 
<style>
	.banner-align .container {
		text-align: right !important;
	}
</style> 
{% elseif theme.homeBannerAlign == 'left' %}
<style>
	.banner-align .container {
		text-align: left !important;
	}
</style>
{% else %}
<style>
    .banner-align .container {
        text-align: center !important;
    }
</style>
{% endif %}

<div class="{{ banner_classes|join(' ') }} banner-align" style="background-color: {{ theme.homeBannerColor }}; background-image: url({{ background.thumbnail('auto', 'auto') }});">
    <div class="block-content">
        <div class="container text-white">
            <h1>{{ heading|unescape }}</h1>
            <p class="lead">{{ content|unescape }}</p>
            <a class="btn btn-light btn-lg" href="{{ site_url('/product/guitar-pedal-subscription') }}">{{ theme.homeBannerButtonText }}</a>
        </div>
    </div>
</div>