<footer id="footer" role="contentinfo">

    <div id="footer-bottom">
        <div class="container text-center text-white">
            <div class="row">
                <div class="col-lg-6 text-lg-left">
                    {{ partial('template-copyright') }}
                </div>        
                <div class="col-lg-6 text-lg-right">
                    {{ partial('template-attribution') }}                
                </div>
            </div>
        </div>
    </div>
        
</footer>