<div class="block block-primary block-banner block-middle" style="background-image: url({{ theme.imageCalloutBackground.thumbnail('auto', 'auto') }}); background-color: {{ theme.calloutColor }};">
    <div class="block-content">
        <div class="container text-center text-white">
            <h1>{{ theme.calloutTitle|unescape }}</h1>
            <p class="lead">{{ theme.calloutContent|unescape }}</p>
            <a class="btn btn-light btn-lg" href="{{ theme.calloutButtonUrl }}">
                {{ theme.calloutButtonText }}
            </a>
        </div>
    </div>
</div>
