
<h4 class="mb-3">Order Summary</h4>

{% if cart.items | length %}
{{ partial('shop-minicart-items', { 'items': cart.listitems, 'edit_cart': false }) }}
{{ partial('shop-checkout-totals', { 'totals': totals }) }}
{% endif %}
{% if cart.upcomingItems | length %}
<hr/><h5>Shipping soon:</h5>
{{ partial('shop-minicart-items', { 'items': cart.upcomingItems, 'edit_cart': false }) }}
{{ partial('shop-checkout-totals', { 'totals': upcomingTotals }) }}
{% endif %}