{% if paymentMethod is defined %}
    {% if paymentMethod.isLegacy() %}
        <p>
            This payment method type is no longer supported. Create a standard or custom method.
        </p>
    {% elseif paymentMethod.isStandard() %}
        
        <h4>Pay with {{ paymentMethod.name }}</h4>
        
        {% if hasFeature('saved-cards') %}
            {% set saved_card_enabled = true %}
        {% else %}
            {% set saved_card_enabled = false %}
        {% endif %}
        {{ paymentForm({
                options: {
                    number:{
                        label: ' ',
                        placeholder: 'Card Number',                        
                        style: "font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !default; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                    },
                    cvv: {
                        label: ' ',
                        placeholder: 'CVV',
                        style: "font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !default; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                    },
                    expiry: {
                        label:' '
                    },
                    full_name: {
                        label:' ',
                        placeholder: 'Cardholder Name'
                    },
                    submit: {
                        value: 'Complete Order'
                    },
                    save_card: {
                        label: 'Save Card',
                        enabled: saved_card_enabled
                    }
                }
            },
            paymentMethod
        ) }}
    {% elseif paymentMethod.isAlternative() %}
        {% set name = paymentMethod.getFrontendPartialName() %}
        {{ partial(name, {paymentMethod: paymentMethod, payment: payment}) }}
    {% endif %}
{% else %}
    <p>This payment method has no payment form.</p>
{% endif %}