{{ open_form({ 'class': 'form', 'data-ajax-handler': 'shop:onLogin', 'data-validation-message' : '' }) }}
    
    <input type="hidden" name="redirect" value="{{ site_url('/account/profile') }}">
    
    <div class="form-group">
        <label for="login_email" class="control-label">Email</label>
        <input type="email" class="form-control input-sm" id="login_email" name="email" value="{{ post('email') }}" size="40" autofocus>
        <span class="error small text-danger"></span>
    </div>

    <div class="form-group">
        <label for="login_password" class="control-label">Password</label>
        <input type="password" class="form-control input-sm" id="login_password" name="password" size="20">
        <span class="error small text-danger"></span>                        
    </div>
    
    <div class="form-group d-flex align-items-center">        
        <button type="submit" class="btn btn-primary">Sign In</button>                               
        <a class="ml-auto" href="{{ site_url('/password-restore') }}">Forgot your password?</a>
    </div>                    
    
{{ close_form() }}