{% set column_class = 'col-lg-6' %}

{% set hasSocial = theme.socialFacebookUrl or theme.socialTwitterUrl or theme.socialInstagramUrl or theme.socialPinterestUrl %}

{% set footer_partials = [ 
    'master-footer-navigation',
    'master-footer-contact',
] %}

{% if hasSocial and theme.mailchimpSubscribeUrl %}
    
    {% set column_class = 'col-lg-3' %}
    
    {% set footer_partials = footer_partials|merge([ 
        'master-footer-social',
        'master-footer-subscribe'
    ]) %}

{% endif %}

{% if theme.mailchimpSubscribeUrl and hasSocial is empty %}
    
    {% set column_class = 'col-lg-4' %}
    
    {% set footer_partials = footer_partials|merge([ 
        'master-footer-subscribe'
    ]) %}

{% endif %}

{% if hasSocial and theme.mailchimpSubscribeUrl is empty %}
    
    {% set column_class = 'col-lg-4' %}
    
    {% set footer_partials = footer_partials|merge([ 
        'master-footer-social'
    ]) %}

{% endif %}

<footer id="footer" class="footer" role="contentinfo">
    
    {% if not theme.footerMinimalMode %}

        <div id="footer-top" class="container text-center text-lg-left">
            <div class="row">
                
                {% for partial_name in footer_partials %}
                
                    <div class="{{ column_class }} mb-5 mb-lg-0">
                        {{ partial(partial_name) }}
                    </div>

                {% endfor %}

            </div>
        </div>

    {% endif %}

    <div id="footer-bottom" class="container text-center">
        <div class="row">
            <div class="col-lg-4 text-lg-left">
                {{ partial('template-copyright') }}
            </div>        
            <div class="col-lg-4 text-lg-center">
                {{ partial('template-attribution') }}                
            </div>
            <div class="col-lg-4 text-lg-right">
                {{ partial('template-sitemap-link') }}                
            </div>
        </div>
    </div>
    
</footer>