<div class="widget widget-footer widget-footer-subscribe">
    <h4 class="widget-title">ToneBuddy Newsletter</h4>
    <div class="widget-content">
        {{ content_block('footer-subscribe') }}
        {{ partial('subscribe-form') }}
    </div>
</div>