<div class="widget widget-footer widget-footer-navigation">
    <h4 class="widget-title">Navigation</h4>
    <div class="widget-content">
        <nav class="nav flex-column">
            {{ partial('navigation-footer') }}
        </nav>
    </div>
</div>