<div class="widget widget-footer widget-footer-social">
    <h4 class="widget-title">Stay Connected</h4>
    <div class="widget-content">
        <nav class="nav justify-content-center justify-content-lg-start">
            {{ partial('navigation-social') }}
        </nav>
    </div>
</div>