<a class="nav-item nav-link" href="{{ site_url('/shop') }}">Shop</a>
<a class="nav-item nav-link" href="{{ site_url(customer ? '/profile' : '/login') }}">My Account</a>
<a class="nav-item nav-link" href="{{ site_url('/archive/blog') }}">Blog</a>
<a class="nav-item nav-link" href="{{ site_url('/page/about-us') }}">About Us</a>
<a class="nav-item nav-link" href="{{ site_url('/page/subscriptions') }}">How It Works</a>
<a class="nav-item nav-link" href="{{ site_url('/contact') }}">Contact</a>
<a class="nav-item nav-link" href="{{ site_url('/page/privacy-policy') }}">Privacy Policy</a>
<a class="nav-item nav-link" href="{{ site_url('/page/returns-refund-policies') }}">Returns Policy</a>