{{ open_form({
    'data-ajax-handler': 'shop:passwordRestore',
    'data-ajax-update' : '#password-restore-form=password-request-form',
    'data-validation-message' : ''
}) }}

    <input name="requestPasswordRestore" type="hidden" value="1">
    <input name="successMessage" type="hidden" value="Password reset confirmation email was sent successfully.">

    <div class="form-group">
        <label for="reset-email" class="control-label">Email</label><br>
        <input id="reset-email" class="form-control" name="email" type="email" value="{{ post('email') }}">
        <span class="error small text-danger"></span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </div>

{{ close_form() }}

{{ partial('flash') }}
