{% if theme.blogEnableSharing %}
    
<div class="post-sharing">
        
        <p><strong>Did you like this article? Share it with your friends!</strong></p>
        
        <div class="post-sharing-links">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.permalink|url_encode }}" target="_blank" title="Share on Facebook"><span class="fa fa-facebook"></span></a>
            <a href="https://twitter.com/home?status={{ post.title }}%20{{ post.permalink|url_encode }}" data-url="THE URL" data-title="THE TITLE" target="_blank"><span class="fa fa-twitter" title="Share on Twitter"></span></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ post.permalink|url_encode }}&title={{ post.title|url_encode }}&summary=&source=" target="_blank" title="Share on LinkedIn"><span class="fa fa-linkedin"></span></a>
        </div>

    </div>

{% endif %}