
{% if theme.blogEnableAuthor %}
    
    {% set author =  post.user %}
    {% set social_profiles = author.getSocialProfiles() %}

    <div class="post-author media">
        
        {% if profile_image %}

            <img class="img-fluid mr-3" src="{{ profile_image.thumbnail('140', 'auto')|default('http://placehold.it/140x140') }}" alt="{{ profile_image.alt }}">

        {% endif %}

        <div class="media-body">
        
            <h5>{{ post.author_name }}</h5>
            {{ author.user_bio|unescape }}        
        
            {% if not social_profiles is empty %}
                
                <div class="post-author-social">
                    
                    {% for link in social_profiles %}
                        
                        <a href="{{ link.link }}" target="_blank"><span class="fa fa-{{ link.name }}"></span></a>

                    {% endfor %}

                </div>

            {% endif %}

        </div>

    </div>

{% endif %}