<div class="owl-carousel mb-4 mb-lg-0">

    {% for image in product.images %}
        <img class="img-fluid owl-lazy" data-src="{{ image.thumbnail('auto', 'auto') }}" alt="{{ image.title }}" title="{{ image.description }}">
    {% endfor %}

</div>
{% if theme.socialToggle %}
<div class="social-buttons">
  <span>Share with your friends:</span>
    <ul class="inline list-inline square-icons">
     <li class="facebook list-inline-item"><a href="http://www.facebook.com/sharer/sharer.php?u=http:{{ site_url('/') }}product/{{ product.url_name}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
     <li class="twitter list-inline-item"><a href="https://twitter.com/intent/tweet?text={{ product.name }} http:{{ site_url('/') }}product/{{ product.url_name}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
     <li class="pinterest list-inline-item"><a href="http://pinterest.com/pin/create/button/?url=http:{{ site_url('/') }}product/{{ product.url_name}}&media={{ product.images.first.thumbnail(746, 'auto') }}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
    </ul>
 </div>
{% endif %}