<div class="mb-4">
    <h4>Subscription List</h4>
    <p>This is the list of pedals you currently have selected for subscription.</p>
        {% for i in 1..10 %} 
            {% if attribute(cart, 'sub_product_' ~ i) %}
            {% set subCounter = 1 + subCounter %}
            {% endif %}
            {% if i == 10 and page.name == 'Product' %}
                {% if subCounter < 5 %}
                <a class="btn btn-danger" role="button" href="{{ root_url('/shop') }}">Add {{ 5 - subCounter }} Pedals To Subscribe</a>
                {% else %}
                <a class="btn btn-success" role="button"
                    data-ajax-handler="shop:onAddToCart"
                    data-ajax-redirect="{{ root_url('/cart/') }}"
                    data-ajax-update=".minicart=shop-minicart, .minicart-content=shop-minicart-content, .minicart-counter=shop-minicart-counter,#product-content=shop-product-content">
                    Add To Cart
                </a>
                {% endif %}
            {% endif %}
        {% endfor %}
</div>