---
description: 'XML generator for Shopping feed.'
---
{% set variant = variant|default(null) %}
{% if variant %}
    {% set id = "Variant_#{variant.id}" %}
    {% set url = "https:#{site_url('/')}product/#{product.url_name}?" %}
    {% for key, value in variant.getOptionsArray %}
        {% set url = url ~ "options[#{key}]=#{value}&" %}
    {% endfor %}
    {% set image = 'https:' ~ product.images.first.thumbnail('auto','auto') %}
    {% set price = variant.base_price ? variant.base_price : product.price %}
    {% set sku = variant.sku %}
    {% set gtin = variant.barcode %}
    {% set weight = variant.weight %}
{% else %}
  {% set id = "Product_#{product.id}" %}
  {% set url = "https:#{site_url('/')}product/#{product.url_name}" %}
  {% set image = 'https:' ~ product.images.first.thumbnail('auto','auto') %}
  {% set price = product.price %}
  {% set sku = product.sku %}
  {% set gtin = product.barcode %}
  {% set weight = product.weight %}
{% endif %}
{% set item = variant ? variant : product %}
{% if not item.isOutOfStock() %}
    {% set availability = 'in stock' %}
{% elseif product.allow_preorder %}
    {% set availability = 'preorder' %}
{% else %}
    {% set availability = 'out of stock' %}
{% endif %}
    
<item> 
    <g:id>{{ id }}</g:id> 
    <g:title>{{ product.name }} </g:title>
    <g:description>{{ product.description|striptags }} </g:description>
    <g:link>{{ url }}</g:link>
    <g:image_link>{{ image }}</g:image_link>
    <g:price>{{ price }} GBP</g:price>
    <g:condition>new</g:condition>
    <g:availability>{{ availability }}</g:availability>
    <g:brand>{{ product.manufacturer.name }} </g:brand>
    <g:mpn>{{ sku }} </g:mpn>
    <g:gtin>{{ gtin }} </g:gtin>
    <g:shipping_weight>{{ weight }} kg</g:shipping_weight>
{% if variant %}
{% for opts in variant.product_options %}
{% if opts.name == 'Color' %}
{% set val = opts.pivot.value %}
{% for key, value in opts.values %}
{% if key == val %}
    <g:color>{{ value }}</g:color>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
</item>