<hr>
<div class="mb-4">
    <h4>Rent It From £30</h4>
    <p>Add this pedal to a subscription plan and get a new pedal sent to your door every month. You need at least 5 pedals on
        the list then you can Subscribe.</p>
    <p><small>* Maximum 10 pedals on the list.</small></p>
        {% for i in 1..10 %} 
            {% if attribute(cart, 'sub_product_' ~ i) %}
                {% set subProductName = attribute(cart, 'sub_product_' ~ i) %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="sub-input-{{ i }}" value="" name="sub_product_{{ i }}" placeholder="{{ subProductName }}" readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" onclick="addSub('#sub-input-{{ i }}')">Remove</button>
                </div>
            </div>
                {% set subCounter = 1 + subCounter %}
            {% if subProductName == product.name %}
                {% set alreadyInCart = true %} 
            {% endif %} 
            {% elseif not firstEmptySubField %}
                {% set firstEmptySubField = i %}
            {% endif %}
            {% if i == 10 and page.name == 'Product' %}
                {% if not alreadyInCart == true and subCounter < 10 %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="sub-input-{{ firstEmptySubField }}" aria-label="subscription list product {{ i }}" value="{{ product.name }}" tabindex="-1" name="sub_product_{{ firstEmptySubField }}"
                        readonly>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-success" onclick="addSub('#sub-input-{{ firstEmptySubField }}')">Add</button>
                    </div>
                </div>
                {% endif %}
                {% if subCounter < 5 %}
                <a class="btn btn-danger" role="button" href="{{ root_url('/shop') }}">Add {{ 5 - subCounter }} More To Subscribe</a>
                {% else %}
                <a class="btn btn-success" role="button" href="{{ root_url('/product/guitar-pedal-subscription') }}">Subscribe</a>
                {% endif %}
            {% endif %}
        {% endfor %}
</div>