{% set billingPlan = billingPlans.find(cart_billing_plan) %}

<div class="table-responsive">
    <table class="table cart-table">
        {% if not hide_header %}
        <thead>
            <tr>
                <th>Product Name</th>
                {% if theme.enableQuantity %}<th class="text-right">Quantity</th>{% endif %}
                <th class="text-right">Price</th>
                <th class="text-right">Total</th>
                {% if edit_cart %}<th>&nbsp;</th>{% endif %}
            </tr>
        </thead>
        {% endif %}


        <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        <div class="cart-item">
                            <a class="cart-item-thumb" href="{{ product_url }}">
                                <img src="{{ item.product.images.first.thumbnail(80, 80) }}" alt="{{ item.product.name }}">
                            </a>
                            <div class="cart-item-info">
                                <h4 class="cart-item-title"><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h4>

                                {% if not item.options is empty %}
                                    <ul class="cart-item-options">
                                        {% for option in item.options %}
                                            <li><strong>{{ option.name }}:</strong> {{ option.value }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if item.extras %}
	                                  <ul class="cart-item-options">
	                                    {% for extra in item.extras %}
	                                      <li><strong>{{ extra.name }}</strong> {{ extra.base_price | currency }}</li>
	                                    {% endfor %}
	                                  </ul>
                                {% endif %}

                                {% if cart_billing_plan and (item.product.subscriptionPlans.count > 0) %}

                                    <div style="margin-top: 10px;">
                                        <span class="custom-dropdown option-dropdown" style="width: 100%">
                                            <select class="form-control custom-select" id="billing_plan" name="item_subscription_plan[{{ item.key }}]"
                                            data-ajax-handler="shop:cart"
                                            data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart-totals">
                                                {% if not product.is_subscription_only %}
                                                    <option value="">No subscription</option>
                                                {% endif %}
                                                {% for plan in item.product.subscriptionPlans | extended_sort('name', true)  %}
                                                    <option value="{{ plan.id }}" {{ option_state(plan.id, item.x_billing_plan_id) }}>
                                                        {{ plan.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </span>
                                    </div>


                                    {% else %}

                                    {% endif %}

                                {% if item.is_trial_product %}
                                    <span class="small">* This item is a trial product and is only included in the first order.</span><br>
                                {% endif %}

                                {% if billingPlan.trial_period_enabled %}
                                    <span class="small">* Trial Period lasts {{ billingPlans.find(cart_billing_plan).trial_period }} days.</span>
                                {% endif %}

                                {% if item.x_billing_plan_id == billingPlan.id and billingPlan.first_order_discount_enabled %}
                                    {% set discount = billingPlan.first_order_discount %}
                                    <p class="small">* The first order will be discounted by {{ discount matches '/%$/' ? discount : discount|currency }}.</p>
                                {% endif %}





                            </div>
                        </div>
                    </td>

                    {% if theme.enableQuantity %}
                        <td class="cart-item-quantity text-right">
                            {% if edit_cart %}
                                <div class="product-quantity">
                                    <button class="btn" data-delta="-1">-</button>
                                    <input id="quantity" class="form-control" name="item_quantity[{{ item.key }}]" type="text" value="{{ item.quantity }}" readonly>
                                    <button class="btn" data-delta="1">+</button>
                                </div>
                            {% else %}
                                {{ item.quantity|number_format }}
                            {% endif %}
                        </td>
                    {% endif %}

                    <td class="cart-item-price text-right">
                        {% if not item.is_trial_product %}

                            {% if item.product.onSale() %}

                                <del>{{ item.product.fullPrice()|currency }}</del>
                                <ins>{{ item.price()|currency }}</ins>

                            {% else %}

                                {{ item.price() | currency }}

                            {% endif %}


                            {% if cart.getDiscountTotal() > 0 %}

                                <span class="discount">(-{{ item.totalDiscount()|currency }})</span>

                            {% endif %}

                        {% else %}

                            {{ item.price() | currency }}

                        {% endif %}
                    </td>


                    <td class="cart-item-total text-right">
                        {% if not item.is_trial_product %}
                            {{ item.total | currency }}
                        {% else %}
                            {{ item.total | currency }}
                        {% endif %}
                    </td>

                    {% if edit_cart %}
                        <td class="cart-item-actions">
                            <a class="link-muted" href="#" data-toggle="tooltip" title="Remove Item"
                                data-ajax-handler="shop:cart"
                                data-ajax-update=".minicart=shop-minicart, .minicart-content=shop-minicart, .minicart-counter=shop-minicart-counter, #cart-content=shop-cart-content"
                                data-ajax-extra-fields="delete_item='{{ item.key }}'">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{#
<div class="table-responsive">
    <table class="table cart-table">
        <thead>
            <tr>
                <th>Product Name</th>
                {% if theme.enableQuantity %}<th>Quantity</th>{% endif %}
                <th>Subtotal</th>
                <th>Discount</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>

            {% for item in items %}

                {% set product_url = site_url('/product/' ~ item.product.url_name) %}

                <tr>

                    <td>
                        <div class="cart-item">

                            <a class="cart-item-thumb" href="{{ product_url }}">
                                <img class="img-fluid" src="{{ item.product.images.first.thumbnail(80, 80) }}" alt="{{ item.product.name }}">
                            </a>

                            <div class="cart-item-info">

                            </div>

                        </div>
                    </td>

                </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
#}