<div class="card card-transparent" id="category-accordion">

    <div class="card-body">

            <div role="button">
                <h5 class="card-title accordion-title">Categories <span class="plus">&#43;</span><span class="minus">&#8722;</span></h5>
            </div>

        {% tree categories %}

            <ul class="nav flex-column slide">

                    {% for category in tree.items %}                                    

                        {% set prefix = '/category/' %}

                        {% if category.parent %}
                            {% set prefix = prefix ~ category.parent.url_name ~ '/' %}
                        {% endif %}

                        <li class="nav-item">
                        
                            <a class="nav-link pl-0 pr-0" href="{{ site_url(prefix ~ category.url_name) }}">
                                {{ category.name }}
                            </a>
                            
                            {% branch category.children %}
                        </li>

                    {% endfor %}                

                </ul>

        {% endtree %}

    </div>

</div>