{% set hasItems = cart.items | length > 0 %}
{% set hasUpcomingItems = cart.upcomingItems | length > 0 %}

{% if hasItems or hasUpcomingItems %}

    <div class="container">

        {{ partial('flash') }}


        {{ open_form({'class': 'custom'}) }}

            {% if hasItems %}
                <h2>Shipping now</h2>

                {{ partial('shop-cart-items', { 'items': cart.listitems, 'edit_cart': true }) }}

                <div class="cart-footer">
                    {{ partial('shop-cart-totals', {'totals': totals}) }}
                </div>
            {% endif %}

            {% if hasUpcomingItems %}
                <h2>Shipping soon</h2>

                {{ partial('shop-cart-items', { 'items': cart.upcomingItems, 'edit_cart': true, 'hide_header': true }) }}

                <div class="cart-footer">
                    {{ partial('shop-cart-totals', {'totals': upcomingTotals}) }}
                </div>
            {% endif %}


            {% if hasItems or hasUpcomingItems %}

                <div class="col-md-8 align-self-center">
                    <div class="coupon-form mb-4 mb-md-0">
                        <input class="form-control mr-md-2" name="coupon" id="coupon" type="text" value="{{ coupon_code }}">
                      <a href="#"
                          class="btn btn-outline-dark"
                          data-ajax-handler="shop:cart"
                          data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart">
                          Apply Coupon
                        </a>

                    </div>
                </div>

                <div class="cart-footer">

                    <div class="btn-group-expand-md mt-4">
                            <a class="btn btn-outline-primary mr-md-auto" href="{{ site_url('/shop') }}">Continue Shopping</a>
                            <a class="btn btn-outline-dark" href="#"
                                data-ajax-handler="shop:cart"
                                data-ajax-update=".minicart=shop-minicart, .minicart-content=shop-minicart, .minicart-counter=shop-minicart-counter, #cart-content=shop-cart-content">
                                Update Cart
                            </a>
                            <a class="btn btn-primary" href="{{ site_url('/checkout') }}">Checkout</a>
                        </div>

                </div>

            {% endif %}

        {{ close_form() }}

    </div>

{% else %}

    <div class="container text-center">

        <h1 class="display-4 mb-5">Shopping Cart is Empty</h1>
        <a class="btn btn-primary btn-lg" href="{{ site_url('/shop') }}">Continue Shopping</a>

    </div>

{% endif %}