<div class="jumbotron checkout-page">
  {% if step == 'billing_info' %}
    {% set inputs %}
      <input type="hidden" name="step" value="billing_info,shipping_info">
      <input type="hidden" name="nextStep" value="shipping_method"/>
    {% endset %}
  {% elseif step == 'shipping_method' %}
    {% set inputs %}
      <input type="hidden" name="step" value="shipping_method">
      <input type="hidden" name="nextStep" value="pay"/>
    {% endset %}
  {% elseif step == 'pay' %}
      <input type="hidden" name="step" value="pay">
  {% endif %}

<div class="row">

<div class="col-md-12">


<div class="checkout-tab" id="shop-address">
  <div class="checkout-tab-bar row">
    <div class="col-md-6 columns">
      <p>
        {% if step == 'billing_info' %}
          <i class="fa fa-circle-thin"></i>
          Step 1: Billing/Shipping Address
        {% elseif step == 'shipping_method' %}
          <i class="fa fa-check goback-icon"></i>
          <a class="goback-tab data-ajax-url"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout"
        data-ajax-extra-fields="nextStep=billing_info"
        data-hash="step-1">Step 1: Billing/Shipping Address</a>
        {% elseif step == 'pay' %}
          <i class="fa fa-check goback-icon"></i>
          <a class="goback-tab data-ajax-url"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout"
        data-ajax-extra-fields="nextStep=billing_info"
        data-hash="step-1">Step 1: Billing/Shipping Address</a>
        {% endif %}

      </p>
    </div>
    <div class="col-md-6 columns text-right">
      {% if step == 'billing_info' %}
        <span class="status">In Progress</span>
      {% elseif step == 'shipping_method' %}
        <span class="status  goback-icon">Complete</span>
      {% elseif step == 'pay' %}
        <span class="status  goback-icon">Complete</span>
      {% endif %}
    </div>
  </div>
{% if step == 'billing_info' %}
  <div class="checkout-content checkout-open">
{% elseif step == 'shipping_method' %}
  <div class="checkout-content ">
{% elseif step == 'pay' %}
  <div class="checkout-content ">
{% endif %}

<div id="address-form" class="row" >

{{ open_form({'class': 'custom', 'data-validation-message' : ''}) }}
  <div class="col-md-12" style="padding-bottom: 0;">
    <div class="col-md-12 col-sm-12 col-lg-6">

      <p id="title-p-d">

      Billing Address
        <span class="fa-stack" style="visibility:hidden;">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-check fa-stack-1x"></i>
            </span>
      </p>

      <div id="billing-info" class="row">
        <div class="col-sm-6 form-group">
          <label for="billing_firstName">First Name *</label>
          <input data-mirror type="text" class="form-control" name="billingInfo[firstName]" id="billing_firstName" value="{{ billingInfo.firstName }}" placeholder="Jonathan"/>
          <span class="error small text-danger"></span>

        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_lastName">Last Name *</label>
          <input data-mirror type="text" class="form-control" name="billingInfo[lastName]" id="billing_lastName" value="{{ billingInfo.lastName }}" placeholder="Doe"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_email">E-mail Address *</label>
          <input type="email" class="form-control" name="billingInfo[email]" id="billing_email" value="{{ billingInfo.email }}" placeholder="example@email.com"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_phone">Phone Number *</label>
          <input data-mirror type="text" class="form-control" name="billingInfo[phone]" id="billing_phone" value="{{ billingInfo.phone }}" placeholder="(012) 345-6789"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-12 form-group">
          <label for="billing_address">Address *</label>
          <input data-mirror type="text" class="form-control" id="billing_address" name="billingInfo[streetAddressLine1]" value="{{ billingInfo.streetAddressLine1 }}" placeholder="123 Example Dr"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-12 form-group">
          <label for="billing_address">Address 2</label>
          <input data-mirror type="text" class="form-control" id="billing_address" name="billingInfo[streetAddressLine2]" value="{{ billingInfo.streetAddressLine2 }}" placeholder="Suite # 555"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_city">City *</label>
          <input data-mirror type="text" class="form-control" name="billingInfo[city]" id="billing_city" value="{{ billingInfo.city }}" placeholder="Vancouver"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_postalCode">Postal/Zip Code *</label>
          <input data-mirror type="text" class="form-control" id="billing_postalCode" name="billingInfo[postalCode]" value="{{ billingInfo.postalCode }}" placeholder="A1B2C3"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_country" class="hide">Country</label>
          <!--
            The state selector updates automatically when the country changes.
            See app.js for the implementation details.
            -->
            <select data-mirror id="billing_country" class="chzn-select form-control" name="billingInfo[countryId]" data-state-selector="#billing_state" data-current-state="{{ billingInfo.stateId }}">
            {% for country in countries %}
            <option {{ option_state(billingInfo.countryId, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
            </select>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="billing_state" class="hide">State</label>
            <select data-mirror id="billing_state" class="chzn-select form-control" name="billingInfo[stateId]" data-ajax-refresh>
            {{ partial('shop-stateoptions', {'states': billingStates, 'selected': billingInfo.stateId}) }}
            </select>
          <span class="error small text-danger"></span>
        </div>

      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-lg-6" id="mobile-shipping">
      <p id="title-p-d">Shipping Address |
          <a data-toggle-mirror="on" class="btn-form-mirror">
            <span class="fa-stack">
              <i class="fa fa-square-o fa-stack-2x" style="visibility:visible"></i>
              <i class="fa fa-check fa-stack-1x" style="visibility:visible" id="check-box"></i>
            </span>
            Same as Billing Address
          </a>
      </p>


      <div id="shipping-info" class="row">
        <div class="col-sm-6 form-group">
          <label for="shipping_firstName">First Name *</label>
          <input  data-mirror type="text" class="form-control disabled" name="shippingInfo[firstName]" id="shipping_firstName" value="{{ shippingInfo.firstName }}" placeholder="First Name"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="shipping_lastName">Last Name *</label>
          <input data-mirror type="text" class="form-control disabled" name="shippingInfo[lastName]" id="shipping_lastName" value="{{ shippingInfo.lastName }}" placeholder="Last Name"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="shipping_phone">Phone Number *</label>
          <input data-mirror type="text" class="form-control disabled" name="shippingInfo[phone]" id="shipping_phone" value="{{ shippingInfo.phone }}" placeholder="(012) 345-6789"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-12 form-group">
          <label for="shipping_address">Address *</label>
          <input data-mirror type="text" class="form-control disabled" name="shippingInfo[streetAddressLine1]" id="shipping_address"  value="{{ shippingInfo.streetAddressLine1 }}" placeholder="123 Example Dr"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-12 form-group">
          <label for="shipping_address">Address 2</label>
          <input data-mirror type="text" class="form-control disabled" name="shippingInfo[streetAddressLine2]" id="shipping_address"  value="{{ shippingInfo.streetAddressLine2 }}" placeholder="Suite # 555"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="shipping_city">City *</label>
          <input data-mirror type="text" class="form-control disabled" name="shippingInfo[city]" id="shipping_city" value="{{ shippingInfo.city }}" placeholder="City"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="shipping_postalCode">Postal/Zip Code *</label>
          <input data-mirror type="text" class="form-control disabled" name="shippingInfo[postalCode]" id="shipping_postalCode" value="{{ shippingInfo.postalCode }}" placeholder="Postal/Zip Code"/>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="shipping_country" class="hide">Country</label>
            <select data-mirror id="shipping_country" class="chzn-select form-control disabled" name="shippingInfo[countryId]" data-state-selector="#shipping_state" data-current-state="{{ shippingInfo.stateId }}" >
            {% for country in countries %}
            <option {{ option_state(shippingInfo.countryId, country.id) }} value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
            </select>
          <span class="error small text-danger"></span>
        </div>
        <div class="col-sm-6 form-group">
          <label for="shipping_state" class="hide">State</label>
            <select data-mirror id="shipping_state" class="chzn-select form-control disabled" name="shippingInfo[stateId]" data-ajax-refresh >
            {{ partial('shop-stateoptions', {'states': shippingStates, 'selected': shippingInfo.stateId}) }}
            </select>
          <span class="error small text-danger"></span>
        </div>

      </div>
    </div>

    {% if not customer and not param('guest') %}
    <div class="col-md-12 col-sm-12 col-lg-6 row">
        <div class="col-md-6 columns form-group">
          <label for="password">Password</label>
          <input type="password" name="billingInfo[password]" class="form-control" id="password" value="" />
          <span class="error"></span>
        </div>
        <div class="col-md-6 columns form-group">
          <label for="password_confirmation">Password confirmation</label>
          <input type="password" name="billingInfo[password_confirmation]" class="form-control" id="password_confirmation" value=""/>
          <span class="error"></span>
        </div>
        <div class="col-md-6 columns form-group">
          <input type="checkbox" name="accepts_marketing" id="accepts_marketing" checked/>
          <label for="accepts_marketing">Recieve promotional emails</label>
        </div>
        <div class="col-md-12">
          <div class="col-md-12 user-id">
            <p>In order to subscribe you will need a user account with password.</p>
            <p>Already got an account? Login <a href="/login">Here</a></p>
          </div>
        </div>
    </div>
    {% endif %}

    <div class="col-sm-12">
        {% if step == 'billing_info' %}
          <a class="btn btn-important pull-right data-ajax-url" data-ajax-handler="shop:checkout" data-ajax-update="#checkout-page=shop-checkout, #checkout-totals=shop-checkout-totals" data-hash="step-2">Proceed to Shipping</a>
        {% else %}

        {% endif %}
        {{ inputs }}
    </div>
  {{ close_form() }}
</div>
</div>
</div>

<!-- SHIPPING METHOD -->


<div class="checkout-tab" id="shop-ship">
  <div class="checkout-tab-bar row">
    <div class="col-md-6 columns">
      <p>
        {% if step == 'billing_info' %}
          <i class="fa fa-circle-thin"></i>
          Step 2: Shipping Method
        {% elseif step == 'shipping_method' %}
          <i class="fa fa-circle-thin"></i>
          Step 2: Shipping Method
        {% elseif step == 'pay' %}
          <i class="fa fa-check  goback-icon"></i>
          <a class="goback-tab data-ajax-url"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout"
        data-ajax-extra-fields="nextStep=shipping_method"
        data-hash="step-2">Step 2: Shipping Method</a>
        {% endif %}
      </p>
    </div>
    <div class="col-md-6 columns text-right">
      {% if step == 'billing_info' %}
        <span class="status">Fill out Billing Info</span>
      {% elseif step == 'shipping_method' %}
        <span class="status">In Progress</span>
      {% elseif step == 'pay' %}
        <span class="status goback-icon">Complete</span>
      {% endif %}
    </div>
  </div>

{% if step == 'billing_info' %}
  <div class="checkout-content">
{% elseif step == 'shipping_method' %}
  <div class="checkout-content checkout-open ">
{% elseif step == 'pay' %}
  <div class="checkout-content ">
{% endif %}
<div id="shop-checkout-shipping-method" class="col-md-12 row">
{{ open_form({'class': 'custom'}) }}

    <div class="col-md-12">
    <p id="title-p-d">Choose a Shipping Method</p>

    {% if step == 'billing_info' %}
      <p>Please fill out billing/shipping info</p>
    {% elseif step == 'pay' %}
      <p>Choose Payment method or start again</p>
    {% elseif step == 'shipping_method' %}
      {% if shippingOptions %}
        {% if shippingOptions|length ==1 %}
          <input type="hidden" value="" name="shippingMethod"><br>
          <table class="compact full-width" id="shipping-methods">
            {% for index, option in shippingOptions %}
              <tr>
                <td>
                  <label for="{{ 'option'~index }}">
                    <!-- The shipping method radio button clicks are handled in the app.js -->
                    <input name="shippingMethod"
                      {{ option.error_hint ? 'disabled' : null }}
                      value="{{ index }}"
                      {{ radio_state(shippingMethodInfo.id, option.id) }}
                      type="radio" id="{{ 'option'~index }}" checked/>

                    <span class="choice-title">
                      {{ option.shippingMethodName }}
                      {% if option.shippingServiceName %}: {{ option.shippingServiceName }}{% endif %}
                    </span>

                    {% if option.error_hint %}
                      <span class="choice-description error-hint">{{ option.error_hint }}</span>
                    {% endif %}
                  </label>
                </td>
                <td class="narrow">
                  {% if not option.error_hint  %}
                    {{ not option.is_free ? option.quote|currency : 'free' }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% else %} <!-- else shippingoptions length == 1  -->
            <input type="hidden" value="" name="shippingMethod"><br>
            <table class="compact full-width" id="shipping-methods">
              {% for index, option in shippingOptions %}
                <tr>
                  <td>
                    <label for="{{ 'option'~index }}">
                      <!-- The shipping method radio button clicks are handled in the app.js -->
                      <input name="shippingMethod"
                        {{ option.error_hint ? 'disabled' : null }}
                        value="{{ index }}"
                        {{ radio_state(shippingMethodInfo.id, option.id) }}
                        type="radio" id="{{ 'option'~index }}"/>

                      <span class="choice-title">
                        {{ option.shippingMethodName }}
                        {% if option.shippingServiceName %}: {{ option.shippingServiceName }}{% endif %}
                      </span>

                      {% if option.error_hint %}
                        <span class="choice-description error-hint">{{ option.error_hint }}</span>
                      {% endif %}
                    </label>
                  </td>
                  <td class="narrow">
                    {% if not option.error_hint  %}
                      {{ not option.is_free ? option.quote|currency : 'free' }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
        {% endif %} <!-- End if for options ==1 -->
      {% else %}
        <p>We are sorry, there are no shipping options available for your location.</p>
      {% endif %} <!-- End shippingOptions if -->
    {% endif %} <!-- end checkout step -->

    {% if shippingOptions %}
        <br><br>
        <a class="btn btn-important pull-right data-ajax-url " data-ajax-handler="shop:checkout" data-ajax-update="#checkout-page=shop-checkout" data-hash="step-3">Proceed to Pay</a>
        <a class="btn btn-default pull-left data-ajax-url"
        id="previous-shipping-address"
        data-ajax-handler="shop:checkout"
        data-ajax-update="#checkout-page=shop-checkout"
        data-ajax-extra-fields="nextStep=billing_info" data-hash="step-1">Previous Step</a>
        {{ inputs }}
   {% endif %}
    </div>
{{ close_form() }}
</div>
</div>
</div>
<!-- PAYMENT METHOD -->

<div class="checkout-tab" id="shop-pay">
  <div class="checkout-tab-bar row">
    <div class="col-md-6 columns">
      <p>
        {% if step == 'billing_info' %}
          <i class="fa fa-circle-thin"></i>
        {% elseif step == 'shipping_method' %}
          <i class="fa fa-circle-thin"></i>
        {% elseif step == 'pay' %}
          <i class="fa fa-circle-thin"></i>
        {% endif %}
        Step 3: Payment Method
      </p>
    </div>
    <div class="col-md-6 columns text-right">
      {% if step == 'billing_info' %}
        <span class="status">Fill out Billing Info</span>
      {% elseif step == 'shipping_method' %}
        <span class="status">Choose a Shipping Method</span>
      {% elseif step == 'pay' %}
        <span class="status">In Progress</span>
      {% endif %}
    </div>
  </div>
</div>

{% if step == 'billing_info' %}
  <div class="checkout-content">
{% elseif step == 'shipping_method' %}
  <div class="checkout-content ">
{% elseif step == 'pay' %}
  <div class="checkout-content checkout-open">
{% endif %}
<div id="shop-checkout-payment-method" class="col-md-12 row">
{% if cart %}
    <div class="col-md-12">
      <!--  Pay with stored cards shown in dropdown -->
      {% if cards is defined %}
        <p id="title-p-d">Pay with a Saved Card</p>
        <form class="custom saved-card-form" method="post" data-ajax-handler="shop:onPay">
          <input type='hidden' name='payment_method_id' id='payment_method_id' value=''>
          <select name="payment_method_token" class="md-select saved-card-selector" id="saved_card_option" style="margin-bottom: 15px;">
            <option value=''>Select Saved Card</option>
            {% for card in cards %}
              <option id="token-{{ card.token }}" value="{{ card.token }}" card-method="{{ card.paymentMethod.id }}">{{ card.paymentMethod.name }}: {{ card.cardAndBrand }}</option>
            {% endfor %}
          </select>
          <br>
          <input type="submit" class="btn btn-important" value="Pay with Saved Card">
        </form>
        <br>
      {% endif %}
        <p id="title-p-d">Select a Payment Method</p>
      {% if step == 'billing_info' %}
        <p>Please fill out billing/shipping info</p>
      {% elseif step == 'shipping_method' %}
        <p>Please choose a shipping method</p>
      {% elseif order.payment_processed %}
        <p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
      {% else %}
        {% set paymentMethod = false %}
        <div id="payment_method">
          <div class="col-md-12 columns">
            {{ open_form({'class': 'custom'}) }}
                {% for method in paymentMethods %}
                    {% if loop.index == 1 %}
                        {% set paymentMethod = method %}
                        <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" checked="checked"/>
                        <label for="payment-method{{ method.id }}" class="choice-title h6"> {{ method.name }} </label>

                    {% else %}

                        <input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" />
                        <label for="payment-method{{ method.id }}" class="choice-title h6"> {{ method.name }} </label>

                    {% endif %}
                {% endfor %}
            </form>
          </div>
        </div>

        <div id="payment_form" class="col-md-6">
          {{ partial('shop-paymentform', { paymentMethod : paymentMethod } ) }}
        </div>

      {% endif %}
    </div>
{% else %}
  <p class="flash error">Order not found.</p>
{% endif %}
</div>
</div>
</div>

<div class="row">
  <div class="checkout-tab col-md-5 col-sm-12 col-xs-12" id="shop-cart">
    <p id="title-cart-checkout">Cart Items</p>
    <div class="checkout-content checkout-open">
      {{ partial('shop-cart-checkout', {'edit_cart': false}) }}
      <hr>
    </div>
  </div>
  <div id="checkout-totals" class="col-md-7 col-sm-12 col-xs-12">
    {{ partial('shop-checkout-totals') }}
  </div>
</div>


</div>
</div>