{% if enable_pagination %}

    {% set shop_items = 9 %}
    {% paginate products by shop_items %}

        <div class="mb-lg-5">
            {% if page.code != 'search' and theme.sortToggle %}
            <h6 id="category-drop-down">Sort By:</h6>
            <select aria-labelledby="category-drop-down"
                    data-sort-redirect
                    data-search-terms="{{ query }}">
                      <option id="1" value="orderBy=base_price&order=asc"{% if sortField == 'base_price' and sortOrder == 'asc'  %} selected="selected"{% endif %}>Price - Ascending</option>
                      <option id="2" value="orderBy=base_price&order=desc"{% if sortField == 'base_price' and sortOrder == 'desc'  %} selected="selected"{% endif %}>Price - Descending</option>
                      <option id="3" value="orderBy=name&order=asc"{% if sortField == 'name' and sortOrder == 'asc'  %} selected="selected"{% endif %}>Name - Ascending</option>
                      <option id="4" value="orderBy=name&order=desc"{% if sortField == 'name' and sortOrder == 'desc'  %} selected="selected"{% endif %}>Name - Descending</option>
                      <option id="5" value="orderBy=sku&order=asc"{% if sortField == 'sku' and sortOrder == 'asc'  %} selected="selected"{% endif %}>SKU - Ascending</option>
                      <option id="6" value="orderBy=sku&order=desc"{% if sortField == 'sku' and sortOrder == 'desc'  %} selected="selected"{% endif %}>SKU - Descending</option>
                      <option id="7" value="orderBy=created_at&order=asc"{% if sortField == 'created_at' and sortOrder == 'asc'  %} selected="selected"{% endif %}>Date Added - Ascending</option>
                      <option id="8" value="orderBy=base_price&order=desc"{% if sortField == 'created_at' and sortOrder == 'desc'  %} selected="selected"{% endif %}>Date Added - Descending</option>
            </select>
            {% endif %}
        </div>

        <div class="row">

            {% for product in pagination.items %}

                <div class="{{ column_class ? column_class : 'col-lg-4 col-md-6' }}">

                    {{ partial('shop-product-item', {
                        'product': product
                    }) }}

                </div>

            {% endfor %}

        </div>

        {{ partial('pagination', {
            'pagination': pagination
        }) }}

    {% endpaginate %}

{% else %}

    <div class="row">

        {% for product in products|extended_sort('sort_order', true) %}

            <div class="{{ column_class ? column_class : 'col-lg-4 col-md-6' }}">

                {{ partial('shop-product-item', { product: product }) }}

            </div>

        {% endfor %}

    </div>

{% endif %}