<div class="card card-transparent" id="manufacturer-accordion">

    <div class="card-body">
            <div role="button">
                <h5 class="card-title accordion-title">Manufacturers <span class="plus">&#43;</span><span class="minus">&#8722;</span></h5>
            </div>

            <ul class="nav flex-column slide">

            {% for manufacturer in manufacturers %}

                <li class="nav-item">

                    <a class="nav-link pl-0 pr-0" href="{{ site_url('/manufacturer/' ~ manufacturer.url_name) }}">
                        {{ manufacturer.name }}
                    </a>

                </li>

            {% endfor %}

        </ul>
        
    </div>

</div>