{% if theme.enableReviews %}
    
    {% set product_rating = product.rating() %}
    
    <div class="product-rating" title="Rated {{ product_rating.average_int }} out of 5">
        
        {% for i in range(1, 5) %}
            <span class="fa fa-star{{ i <= product_rating.average_int  ? ' active' : '' }}"></span>
        {% endfor %}
        
        {% if include_count %}
            <span class="count">({{ product_rating.total_reviews }} customer reviews)</span>
        {% endif %}

    </div>

{% endif %}