{{ open_form({'class': 'custom', 'onsubmit': 'return false'}) }}

    <header class="product-header mb-4">
        <h2>{{ product.name }}</h2>

        {{ partial('shop-product-rating', { 'include_count': true }) }}

    </header>

    <div class="product-description mb-4">

        {% if theme.descriptionsDropdown == 'first' %}
            <p class="small">{{ product.short_description | unescape }}</p>
        {% else %}
            <p class="small">{{ product.description | unescape }}</p>
        {% endif %}

    </div>

    {% if 0 != product.extras|length %}
        {{ partial('shop-product-extras')}}
    {% endif %}

    {% if product.options.count %}

        <div class="product-options">
            <div class="row">

                {% for index, option in product.options %}

                    <div class="form-group col-md-6">
                        <label class="control-label" for="option-{{ loop.index }}">{{ option.name }}</label>
                        <select id="option-{{ loop.index }}"
                                class="form-control custom-select"
                                name="options[{{ option.id }}]"
                                data-ajax-handler="shop:product"
                                data-ajax-update="#product-content=shop-product-content,#product-images=shop-product-images,#product-information=shop-product-tabs">

                            {% for key, value in option.values %}

                                <option value="{{ key }}" {{ option_state(postedOptions[option.id], key) }}>{{ value }}</option>

                            {% endfor %}

                        </select>
                    </div>

                {% endfor %}

            </div>
        </div>
    {% endif %}
    <div>
        Buy for {{ partial('shop-product-price') }}
    </div>

    {% if product.enabled %}

        {% if not product.isOutOfStock() or product.allow_preorder %}

            <input name="productId" type="hidden" value="{{ product.id }}">

            {% if product.subscriptionPlans | length %}
                <div class="row" style="display:none;">
                    <div class="form-group col-lg-6">
                        <label class="control-label" for="product_billing_plan">Billing Plan</label>
                        <select class="form-control custom-select" name="product_billing_plan">
                            {% if not product.is_subscription_only %}
                                <option value="">No subscription</option>
                            {% endif %}
                            {% for plan in product.subscriptionPlans | extended_sort('name', true) %}
                                <option value="{{ plan.id }}" {{ option_state(plan.id, cart_billing_plan) }}>{{ plan.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}

            <h4>Purchase Item</h4>

            <div class="product-actions">


                {% if theme.enableQuantity %}

                    <div class="product-quantity">
                        <button class="btn" data-delta="-1">-</button>
                        <input id="quantity" class="form-control" name="quantity" type="text" value="{{ quantity|default('1') }}" readonly>
                        <button class="btn" data-delta="1">+</button>
                    </div>

                {% else %}

                    <input name="quantity" type="hidden" value="1">

                {% endif %}

                {% if product.productType.name == "Goods" %}
                    <a class="btn btn-primary" href="{{ root_url('/cart') }}"
                        data-ajax-handler="shop:onAddToCart"
                        data-ajax-update=".minicart=shop-minicart, .minicart-content=shop-minicart, .minicart-counter=shop-minicart-counter,#product-content=shop-product-content">
                        {{ theme.addToCart | default('Add to cart') }}
                    </a>
                    {% elseif product.productType.name == "Subscription" %}
                    
                    {% for i in 1..5 %}
                        {% if attribute(cart, 'sub_product_' ~ i) %}
                            {% set checkIfListComplete = 1 + checkIfListComplete %}
                        {% endif %}
                        {% if i == 5%}
                        {% if checkIfListComplete == 5 %}
                        <a class="btn btn-primary" href="{{ root_url('/cart') }}"
                            data-ajax-handler="shop:onAddToCart"
                            data-ajax-update=".minicart=shop-minicart, .minicart-content=shop-minicart, .minicart-counter=shop-minicart-counter,#product-content=shop-product-content">
                            Buy Subscription
                        </a>
                        {% elseif checkIfListComplete != 5 %}
                            <a class="btn btn-danger" role="button" href="{{ root_url('/shop') }}">Add {{ 5 - checkIfListComplete }} More To Subscribe</a>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% endif %}

            </div>

            {% if theme.showStockAmount and product.in_stock_amount %}
                <div class="">
                <p><strong>In Stock Amount:</strong> {{ product.in_stock_amount }}</p>
                </div>
            {% endif %}

        {% else %}

            <p class="alert alert-light">Not Available To Buy</p>

        {% endif %}

    {% else %}

            <p>This product is not currently available.</p>

    {% endif %}

    {{ partial('flash') }}

{{ close_form() }}
{% if product.productType.name == "Goods" %}
{{ partial('shop-product-list-dynamic') }}
{% endif %}