{% if product.options.count %}
  {% for index, option in product.options %}
    <div class="product-options col-md-6">
      <p class="title" for="{{ 'option-'~index }}">{{ option.name }}</p>
      <span class="col-md-12 custom-dropdown option-dropdown">
      <select id="{{ 'option-'~index }}" name="options[{{ option.id }}]" class="select-option" data-ajax-handler="shop:product" data-ajax-update="#shop-product=shop-product">
        {% for key, value in option.values %}
          <option value="{{ key }}" {{ option_state(postedOptions[option.id], key) }}>{ value }}</option>
        {% endfor %}
      </select>
      </span>
    </div>
  {% endfor %}
{% endif %}