<div class="row mb-4 mb-md-0">

	<div class="col-md-4 align-self-center">
		&nbsp;
	</div>
	<div class="col-md-4 align-self-center">
		&nbsp;
	</div>
	<div class="col-md-4 align-self-center">
			{% if totals.subtotal > 0 %}
				<div class="cart-total text-center text-md-right">
					<strong>Item Total:</strong> {{ totals.subtotal | currency }}
				</div>
			{% endif %}
		<div class="cart-total text-center text-md-right">
				{% if totals.subtotal > 0 %}
					{% for plan in billingPlans %}
						{% if cart_billing_plan == plan.id %}
							{% if totals.setupFee > 0 %}
								<div><strong>Subscription Setup:</strong> {{ totals.setupFee|currency }}</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}


			  {% if totals.totalTax > 0 %}
					   <div class="cart-total text-center text-md-right">
							  <strong>Sales Tax:</strong> {{ cart.getTotalTax|currency }}
					</div>
				{% endif %}

				{% if item.x_billing_plan_id %}
				<div><strong>Next Renewal Date:</strong>
					{% for plan in billingPlans %}
						{% if item.x_billing_plan_id == plan.id %}
						<p><em>{{ plan.schedule_type | capitalize }} subscription: <strong>{{ plan.name }} </strong></em></p>
						{% endif %}
					{% endfor %}
				</div>
				{% endif %}


				{% if totals.discountTotal > 0 %}
					 <div class="cart-total text-center text-md-right">
					 <strong>Discount applied:</strong> -{{ totals.discountTotal|currency }}
				   </div>
				{% endif %}
			<strong>Total:</strong> {{ totals.total|currency }}
		</div>
	</div>
</div>