{{ open_form({ 'class': 'form', 'action': theme.mailchimpSubscribeUrl, 'method': 'post', 'target': '_blank' }) }}

    <div class="form-group">
        <label for="email-address-input">Email:</label>
        <input class="form-control" aria-describedby="newsletter-signup" id="email-address-input" name="EMAIL" placeholder="Email Address" type="email">
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
    </div>
    
{{ close_form() }}