{{ code_block('setup') }}

<meta charset="utf-8">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ page.title }} | {{ theme.storeTitle }}</title>

<link rel="shortcut icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">
<link rel="icon" href="{{ theme.faviconImage.thumbnail('auto', 'auto') }}" type="image/png">

<!-- Stylesheets -->
<link rel="stylesheet" href="/cms/lemonstand.css">
<link rel="stylesheet" href="{{ 'css/main.css' | theme_resource }}">
<link rel="stylesheet" href="{{ 'css/custom.css' | theme_resource }}">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />

{% if globals.redirect %}
    <style>body { display: none !important; }</style>
    <script>window.location = '{{ globals.redirect }}';</script>
{% endif %}

{% if page_code() == 'blog-post' %}
    <meta property="og:url" content="{{ post.permalink|url_encode }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:description" content="{{ post.excerpt | unescape }}" />
    <meta property="og:image" content="https:{{ post.featured_image.thumbnail(1200, 'auto') }}" />
{% elseif page_code() == 'product' %}
    <meta property="og:url" content="{{ site_url('/') }}{{ '/product/' ~ product.url_name }}" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="{{ product.name }}" />
    <meta property="og:description" content="{{ product.short_description }}" />
    <meta property="og:image" content="https:{{ product.images.first.thumbnail(1200, 'auto') }}" />
{% else %}
		<meta property="og:url" content="{{ site_url('/') }}" />
		<meta property="og:type" content="page" />
		<meta property="og:title" content="{{ page.title }}" />
        <meta property="og:title" content="{{ page.description }}" />
		<meta property="og:image" content="{{ theme.linkPreviewImage.thumbnail(1200, 'auto') }}" />
{% endif %}
{% if theme.tagManager %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PR3SZJK');</script>
<!-- End Google Tag Manager -->
{% endif %}
<!-- Theme Scripts -->
<script src="{{ 'js/main.js' | theme_resource }}"></script>
<script src="{{ 'js/custom.js' | theme_resource }}" async></script>
{% if page.name != 'Checkout' and page.name != 'Cart' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js" async></script>
<script async>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "position": "bottom-left",
  "theme": "classic",
  "content": {
    "href": "https://tonebuddy.co.uk/page/privacy-policy"
  }
})});
</script>
{% endif %}