<!-- LemonStand Scripts -->
<script src="/cms/lemonstand.js" async defer></script>
{% if page.name != 'Checkout' and page.name != 'Cart' and theme.pureChat %}
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '779ea619-b92e-48ea-be41-500462ef185e', f: true }); done = true; } }; })();</script>
{% endif %}
{{ code_block('scripts') }}