// Fonts
// ***************************************************************************

$font-family-sans-serif:        Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Calibri, Verdana, "Verdana Ref", sans-serif;
$headings-font-family:          -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

// Colors
// ***************************************************************************

$white:                         #ffffff !default;
$gray-100:                      #f5f5f5 !default;
$gray-200:                      #eeeeee !default;
$gray-300:                      #e0e0e0 !default;
$gray-400:                      #bdbdbd !default;
$gray-500:                      #9e9e9e !default;
$gray-600:                      #757575 !default;
$gray-700:                      #616161 !default;
$gray-800:                      #424242 !default;
$gray-900:                      #212121 !default;
$black:                         #000000 !default;

$primary:                       #494c50;
$light:                         #ffffff;


// Components
// ***************************************************************************

$border-radius:                 0 !default;
$border-radius-lg:              0 !default;
$border-radius-sm:              0 !default;
$border-width:                  2px !default;

$alert-border-width:            0;

$card-border-width:             0;

$nav-tabs-link-active-bg:       transparent;
$nav-tabs-link-active-color:    $primary;