---
action: 'shop:products'
template: sitemap
protocol: all
published: true
name: 'Google Shopping Feed'
url: /google-products.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0"> 
    <channel> 
        <title>ToneBuddy</title> 
        <link>{{ site_url('') }}</link> 
        <description>Guitar pedals</description> 
    {% set displayVariantsCollection = 'display-variants'|collection %}
    {% set ids = [] %}
    
    {% for product in displayVariantsCollection.products %}
        {% set ids = ids|merge([product.id]) %}
    {% endfor %}
    {% for product in products %}
    {% if product.id in ids and product.productType.name == "Goods" %}
        {% for variant in product.productVariants %}
            {{ partial('shop-google-product-list-xml', {'product': product, 'variant': variant}) }} 
        {% endfor %}
        {% elseif product.productType.name == "Goods" %}          
            {{ partial('shop-google-product-list-xml', {'product': product}) }}
        {% endif %}
    {% endfor %}
    </channel> 
</rss>