.card {    
    box-shadow: 0px 3px 30px 0px rgba($gray-900, 0.125);
    transition: all 0.5s ease;

    .card-body {
        padding: 1.875rem;
    }
    
    .card-title {
        color: $gray-800;
        font-size: 0.875rem;
        margin-bottom: 1.875rem / 2;
        text-transform: uppercase;
    }

    .card-actions {        
        background-color: transparent;
        border-top: 0;
        font-size: 0.875rem;
    }

    &.card-transparent {
        background-color: transparent;
        box-shadow: none;
    }
}

.article-card { 
    margin-bottom: map-get($spacers, 4);

    p {
        font-size: $font-size-sm;
    }

    &:hover {
        box-shadow: 0px 3px 30px 0px rgba($gray-900, 0.25);
    }
}

@include media-breakpoint-up(md) {
    .article-card {
        flex-direction: row;

        .article-image {
            display: block;
            order: 2;            
            width: 50%;

            .card-img-top {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        .card-body {
            width: 50%;
        }
    }
}
