$footer-bottom-padding-y:               $spacer * 1.25;

// Footer Top
// ***************************************************************************

#footer-top {
    border-bottom: $border-width solid $gray-300;
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 5);
}


// Footer Bottom
// ***************************************************************************

#footer-bottom {
    color: $gray-700;
    padding-bottom: $footer-bottom-padding-y;
    padding-top: $footer-bottom-padding-y;

    a {
        color: inherit;
    }
}

// Footer Widgets
// ***************************************************************************

.widget-footer {
    .widget-title {
        font-size: 1rem;
        margin-bottom: map-get($spacers, 4);
    }

    .widget-content {
        color: $gray-600;

        a {
            color: inherit;

            &:hover,
            &:hover span.fa {
                color: $gray-900;
            }
        }
    }
}

.widget-footer-navigation {
    .nav {
        .nav-link {
            padding-left: 0;
            padding-right: 0;            
        }
    }
}

.widget-footer-social {
    .nav {
        .nav-link {
            font-size: 1.125rem;
            padding-left: 0;
            padding-right: 0;

            &:nth-child(n+2) {
                margin-left: map-get($spacers, 3);
            }
        }
    }
}