#header {
    padding-bottom: $header-padding-y;
    padding-top: $header-padding-y;
    position: relative;
    transition: all 0.5s ease;

    .navbar {
        padding-bottom: 0;
        padding-top: 0;

        .navbar-brand {
            padding-bottom: 0;
            padding-top: 0;

            .navbar-logo {
                height: $header-brand-height;
                position: relative;

                &.navbar-logo-light {
                    display: none;
                }
            }
        }

        .navbar-content {
            position: relative;

            .navbar-actions {
                .btn {
                    color: $primary;
                    font-size: 1.5rem;
                }
            }

            .navbar-nav {
                .nav-link {
                    color: $primary;
                    padding-left: $spacer * 0.75;
                    padding-right: $spacer * 0.75;
                }
            }
        }
    }
}

.main-nav {    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                padding: .5rem .75rem;
                color: $primary;
                display: block;
            }
        }
    }
}

#header:not(.header-transparent),
#header-sticky-wrapper.is-sticky #header {
    background-color: $header-bg;
    box-shadow: 0px 3px 30px 0px rgba($gray-900, 0.25);
}

// Transparent Header
// ***************************************************************************

#header:not(.header-sticky).header-transparent,
#header-sticky-wrapper:not(.is-sticky) #header.header-transparent {
    border-bottom: $border-width solid rgba($white, 0.125);

    .navbar {
        .navbar-brand {
            .navbar-logo {
                &.navbar-logo-dark {
                    display: none;
                }

                &.navbar-logo-light {
                    display: block;
                }
            }
        }

        .navbar-actions {
            .btn {
                color: $white;
            }
        }

        .navbar-nav {
            .nav-link {
                color: $white;
            }

            .main-nav ul li a {
                color: $white;
            }
        }
    }
}

#header.header-transparent:not(.header-sticky),
#header-sticky-wrapper.header-sticky-wrapper-transparent {
    margin-bottom: -($header-height + $header-padding-y + $header-padding-y);
}

// Header Search Form
// ***************************************************************************

#header-search {
    background-color: $header-bg;
    bottom: 0;
    left: 0;
    opacity: 0.0;
    padding-left: $header-search-padding-x;
    padding-right: $header-search-padding-x;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease;
    visibility: hidden;

    &.header-search-open {
        opacity: 1.0;
        pointer-events: auto;
        visibility: visible;
    }
}