#page {
    &.page-basic {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        #main {
            justify-content: center;
            display: flex;
            flex: 1;
            flex-direction: column;            
        }
    }
}