// Minicart Items
// ***************************************************************************

.minicart-items {
    @include list-unstyled;
    margin-bottom: 0;

    .minicart-item {
        align-items: center;
        display: flex;

        img {
            margin-right: map-get($spacers, 3);
        }

        .minicart-item-details {
            flex: 1;

            span.minicart-item-name,
            span.minicart-item-info {
                display: block;
                font-size: $font-size-sm;
            }
            span.minicart-plan-name {
                font-size: $font-size-sm * .75;
            }

            span.minicart-item-info {
                color: $gray-600;
            }

            .btn {
                color: $text-muted;
            }
        }

        &:nth-child(n+2) {
            border-top: 1px solid $gray-300;
            margin-top: map-get($spacers, 3);
            padding-top: map-get($spacers, 3);
        }
    }
}

.minicart-content {
    background-color: $white;
    color: $gray-900;

    .minicart-body {
        padding: map-get($spacers, 3) map-get($spacers, 3);

        p:last-child {
            margin-bottom: 0;
        }
    }

    .minicart-footer-group {
        align-items: center;
        border-top: $border-width solid $border-color;
        display: flex;
        padding: map-get($spacers, 3) map-get($spacers, 3);

        .total {
            flex: 1;
            font-size: $font-size-sm;
        }

        .btn {
            margin-left: auto;
        }
    }
}

.header-minicart {
    cursor: pointer;
    position: relative;

    .minicart-content {
        box-shadow: 0px 3px 30px 0px rgba($gray-900, 0.25);
        opacity: 0.0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.5s ease;
        visibility: hidden;
        width: 18.75rem;
        z-index: $zindex-sticky;
    }

    &:hover {
        .minicart-content {
            opacity: 1.0;
            pointer-events: auto;
            visibility: visible;
        }
    }
}

.icon-group.icon-group-badge .count {
    background-color: #494c50;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 0.875rem;
    height: 1.3rem;
    line-height: 1.5rem;
    margin-left: 0.5rem;
    text-align: center;
    width: 1.3rem;
}