.pagination {
    align-items: center;
    border-top: $border-width solid $border-color;
    margin-bottom: 0;
    margin-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 3);
    padding-top: map-get($spacers, 3);

    p {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -2px;
        line-height: 1.25;
        color: #494c50;
        background-color: #ffffff;
        border: 2px solid #e0e0e0;
        margin-bottom: 0;
        font-size: 16px;
    }
}