.ls-card-form {
    width: 100%;
}

.card-form-expiry-outer label {
    display: inherit;
}

.card-table {
    font-size: 15px;
    background-color: #EEEEEE;
}
.card-table th {
    padding: 10px;
    color: #777777;
}

.card-table a,
.card-table a:hover,
.card-table a:focus {
    text-decoration: underline;
}

.card-form-close {
    display: none;
}
.card-form-open {
    display: block;
}
.ls-card-form .submit-button,
.ls-card-form .delete-button {
    background-color: $primary;
    border-radius: 0;
    color: $white;
    float: left;
    font-family: inherit;
    text-transform: uppercase;
}

.ls-card-form .submit-button:hover,
.ls-card-form .delete-button:hover {
    background: #494c50;
    color: white;
}
.ls-card-form .card-form-input {
    background-color: #FFF;
    border: 1px solid #CCC;
    font-family: inherit;
    box-shadow: none;
    border-radius: 0;
    color: #555;
}
.ls-card-form .card-form-input:focus {
    border-color: black;
    background-color: inherit;
}
.ls-card-form .card-form-input::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input:-moz-placeholder {
    /* Firefox 18- */
    
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input::-moz-placeholder {
    /* Firefox 19+ */
    
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.ls-card-form .card-form-input:-ms-input-placeholder {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    color: #D4D4D4;
}
.form-row .btn {
    float: left;
}
/* Subscription page */
#subscription-page .col-md-6 {
    margin-bottom: 20px;
}
.ls-card-form .error-highlight,
.ls-card-form .error-highlight:focus {
    border-color: #D34246 !important;
}

.ls-card-form .valid-highlight,
.ls-card-form .valid-highlight:focus {
    border-color: #3DE000 !important;
}