.table {
    border-bottom: $border-width solid $border-color;

    thead th {
        background-color: $primary;
        border-top: none;
        border-bottom: none;
        color: $white;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
    }

    tbody th,
    tbody td {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        vertical-align: top;
    }
}


.table-responsive .active,
.table-responsive .trial,
.table-responsive .paused,
.table-responsive .cancelled {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #28a745;
}

.table-responsive .paused {
	color: #494c50;
}

.table-responsive .cancelled {
	color: #f81111;
}

.table-responsive .total {
	font-size: 14px;
	color: #494c50;
}