---
action: 'cmscontent:blog'
template: master
protocol: all
published: true
name: 'Blog Post'
url: '/blog/:slug'
---
{{ partial('page-header', {
    'background': theme.imageBlogHeader,
    'title': 'Blog'
}) }}

<div id="content" class="block block-gray">    
    <div class="block-content">    
        <div class="container">  
            <div class="row">
                <div class="card mb-4">
                    <div class="col-lg-10 offset-lg-1">

                        <article class="post">
                            <header class="post-header">
                                {{ partial('post-meta', { 'post': post }) }}
                                <h1>{{ post.title }}</h1>
                            </header>

                            {% if post.featured_image %}
                                <figure class="post-image">
                                    <img class="img-fluid" src="{{ post.featured_image.thumbnail('auto', 'auto') }}" alt="{{ post.title }}">
                                </figure>
                            {% endif %}

                            {% if post.excerpt %}
                                <div class="post-excerpt">                                
                                    {{ post.excerpt|unescape }}
                                </div>
                            {% endif %}

                            <div class="post-content"> 
                                {{ post.body|unescape }}
                            </div>

                            <footer class="post-footer">
                                {{ partial('post-sharing', { 'post': post }) }}                            
                                {{ partial('post-author', { 'post': post }) }}
                            </footer>

                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if theme.enableBlogCallout %}
	{{ partial('callout') }}
{% endif %}