---
action: 'shop:passwordRestore'
template: master
protocol: all
published: true
name: 'Password Restore'
url: '/password-restore/:hash!'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                                                     
                    <div class="block-header">
                        <h2>Reset Your Password</h2>
                    </div>

                    {% if hash and not invalidHash %}                                                

                        <div class="card mb-4">                            
                            <div class="card-body">                                
                                <p>Enter your new password and confirm the change.</p>
                                <div id="password-restore-form">                        
                                    {{ partial('password-update-form') }}
                                </div>                        
                            </div>                        
                        </div>

                    {% else %}
                                            
                        <div class="card mb-4">                       
                            <div class="card-body">                                
                                <p>Please enter your email below, we will send you an email message with a link to enter a new password for your account.</p>                                
                                <div id="password-restore-form">
                                    {{ partial('password-request-form') }}                                
                                </div>
                            </div>

                        </div>

                    {% endif %}
                    
                    <a href="{{ site_url('/login') }}">Return to sign in</a>

                </div>
            </div>
        </div>
    </div>
</div>