---
action: 'shop:order'
template: master
protocol: all
published: true
name: 'Order Details'
url: '/account/order/:orderId'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    {{ partial('account-sidebar', { active: 'orders' }) }}
                </div>

                <div class="col-lg-9">

                    {{ partial('flash') }}

                    <div class="card">
                        <div class="card-body">

                            {% for invoice in order.invoices %}
                                {{ partial('shop-invoice-items', { 'invoice': invoice }) }}
                                {{ partial('shop-invoice-totals', { 'invoice': invoice }) }}

                                <hr>
                                <div class="row">

                                    <div class="active {{ order.orderStatus.name }} col-lg-6">
                                        <small>
                                            <strong {% if order.orderStatus.color %}style="color: {{ order.orderStatus.color }}"{% endif %}>
                                                {{ order.orderStatus.name | upper }}
                                            </strong>
                                        </small>
                                    </div>


                                    <div class="col-lg-6 text-right">
                                        <small>{{ order.status_updated_at | date("m/d/Y") }}</small>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    {% if order.trackingCodes %}
                                    <div class="col-lg-12">
                                        <small><h5>Track your order:</h5>
                                        {% for tracker in order.trackingCodes %}
                                            <dt>{{ tracker.updated_at| date("m/d/Y") }}</dt>
                                            {% if tracker.tracking_code starts with 'http' %}
                                                <dl><a href="{{ tracker.tracking_code }}">
                                                    <code>{{ tracker.tracking_code | split('/') | last | split('?') | last | split('=') | last | default('Link') }}</code>
                                                </a></dl>
                                            {% else %}
                                                <dl><code>{{ tracker.tracking_code }}</code></dl>
                                            {% endif %}

                                        {% endfor %}
                                        </small>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>