---
action: 'shop:manufacturer'
template: sitemap
protocol: all
published: true
name: 'Sitemap Manufacturers'
url: /sitemap-manufacturers.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for manufacturer in manufacturers %}
  {% set page_url = "https:#{site_url('/')}manufacturer/#{manufacturer.url_name}" %}
  <url>
    <loc>{{ page_url }}</loc>
    <lastmod>{{ manufacturer.updated_at|date("Y-m-d\\TH:i:sP") }}</lastmod>
  </url>
  {% endfor %}
</urlset>