--- 
name: Contact page content (above the form)
content_type: html 
---
<h2>Let's Talk!</h2>
<p>
    Contact us for any further questions, possible projects and partnerships. Either fill out the form or email
    us directly at <a href="mailto:info@tonebuddy.co.uk">info@tonebuddy.co.uk</a>.
</p>