--- 
name: Navigation (header and mobile off canvas)
content_type: html 
---
<ul>
    <li><a href="{{ site_url('/page/subscribe-to-tonebuddy') }}">Subscribe</a></li>
    <li><a href="{{ site_url('/shop') }}">Shop</a></li>
    <li><a href="{{ site_url(customer ? '/account/profile' : '/login') }}">My Account</a></li>
    <!-- <li><a href="{{ site_url('archive/blog') }}">Blog</a></li> -->
</ul>