---
action: 'shop:products'
template: master
protocol: all
published: true
name: Shop
url: /shop/:page?
---

{{ partial('page-header', {
    'background': theme.imageShopHeader,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">

            {{ partial('shop-products', {
                'products': products
            }) }}

        </div>
    </div>
</div>