---
action: 'shop:products'
template: sitemap
protocol: all
published: true
name: 'Sitemap Products'
url: /sitemap-products.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for product in products %}
  {% set page_url = "https:#{site_url('/')}product/#{product.url_name}" %}
  <url>
    <loc>{{ page_url }}</loc>
    <lastmod>{{ product.updated_at|date("Y-m-d\\TH:i:sP") }}</lastmod>
  </url>
  {% endfor %}
</urlset>