---
action: 'shop:customerProfile'
template: master
protocol: all
published: true
name: 'Payment Method'
url: /account/payment-method
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">           
        <div class="container">        
            <div class="row">

                <div class="col-lg-3">
                    {{ partial('account-sidebar', { active: 'orders' }) }}
                </div>

                <div class="col-lg-9">
                    
                    {{ partial('flash') }}

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Update Credit Card</h4>
                            
                            <div id="subscription-card-editor" class="col-md-6 row mt-md-2">
                                {% if card %}
                                  {{ customerCardForm('add', {
                                      'options': {
                                        'number': {
                                          'label': 'Card Number',
                                          'class': 'another-card-number-class',
                                          'style':'font-family: arial;',
                                          'placeholder': 'Card number',
                                        },
                                        'cvv': {
                                          'label': 'CVV',
                                          'placeholder': 'XXX',
                                        },
                                        'full_name': {
                                          'label': 'Full Name',
                                          'placeholder': 'Cardholder name',
                                        },
                                        'expiry': {
                                          'placeholder': 'MM/YYYY',
                                        }
                                      },
                                    },{
                                      'data-ajax-update': '#content=partial-customer'
                                    })
                                  }}
                                {% else %}
                                  <!-- Example - Drop-In Twig Helper on Subscription Page - Add card form from subscriptions page. -->
                                    <p>Add Payment Method</p>
                                    {{ customerCardForm('update', {
                                        'card': card ,
                                        'options': {
                                          'number': {
                                            'label': 'Card Number',
                                            'placeholder': 'Card number',
                                          },
                                          'cvv': {
                                            'label': 'CVV',
                                            'placeholder': 'XXX',
                                          },
                                          'full_name': {
                                            'label': 'Full Name',
                                            'placeholder': 'Cardholder name',
                                          },
                                          'expiry': {
                                            'placeholder': 'MM/YYYY',
                                          }
                                        },
                                      },{
                                        'data-ajax-update': '#content=partial-customer'
                                      })
                                    }}
                                {% endif %}
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>