---
action: 'subscriptions:subscription'
template: master
protocol: all
published: true
name: Susbcription
url: '/subscription/:subscriptionId'
---
<div id ="subscription-page">
  <div class="full-jumbotron no-padding row contact-head contact">
    <div class="col-md-12 text-center">
      <h1>Plan: {{ subscription.id }}</h1>
    </div>
  </div>
  <div class="jumbotron row">
  <div class="content col-md-12 columns">
      {% if not subscription.orders or not subscription.orders.count %}
        <p class="flash info">Orders not found</p>
      {% else %}
        <div class="row col-md-12" id="subscription-row-full" >
          <div class="col-md-2">
            <p><span class="strong">Id:</span> {{ subscription.id }}</p>
          </div>
          <div class="col-md-8">
            <p><span class="strong">Started:</span> {{ subscription.created_at.format('M jS, Y') }}</p>
          </div>
          <div class="col-md-2">
            <p><span class="strong">Status:</span> {{ subscription.status.name }}</p>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="content col-md-12 columns">
      {% if subscription %}
          <section id="subscription-update-message">
              {{ partial('subscription-update-message') }}
          </section>
          <div class="col-md-6" id="subscription-billing-plan">
              {{ open_form({'data-ajax-handler': 'subscriptions:onUpdateBillingPlan', 'class': 'custom', 'data-ajax-redirect': root_url('/subscription/' ~ subscription.id), 'data-validation-message' : ''}) }}
              <p>My Current Billing Plan</p>
              <span class="col-md-12 custom-dropdown">
                <select id="billing_plan" name="billing_plan">
                {% for plan in billingPlans  %}
                <option value="{{ plan.id }}" {{ option_state(plan.id, subscription.billingPlan.id) }}>{{ plan.name }}</option>
                {% endfor %}
                </select>
              </span>

              <input type="submit" class="btn btn-important" value="Update Subscription"/>
              <input type="hidden" name="subscription_id" value="{{ subscription.id }}"/>
              {{ close_form() }}
          </div>

          <div class="col-md-6" id="subscription-statuses">
              {{ open_form({'data-ajax-handler': 'subscriptions:onUpdateSubscriptionStatus', 'class': 'custom', 'data-ajax-redirect': root_url('/subscription/' ~ subscription.id), 'data-validation-message' : ''}) }}
              <p>My Subscription Status</p>
              <span class="col-md-12 custom-dropdown">
                <select id="subscription_status" name="subscription_status">
                {% for status in subscriptionStatuses if (status.code == 'active' or status.code == 'paused' or status.code == 'cancelled')  %}
                <option value="{{ status.code }}" {{ option_state(status.code, subscription.status.code) }}>{{ status.name }}</option>
                {% endfor %}
                </select>
              </span>
              <input type="submit" class="btn btn-important " value="Update Status"/>
              <input type="hidden" name="subscription_id" value="{{ subscription.id }}"/>
              {{ close_form() }}
          </div>

          <div id="subscription-card-editor" class="col-md-6">
              {% if card %}
                <!-- Render card details -->
                  <p>Update Subscription Card</p>
                  {{ subscriptionCardForm('update',
                      {
                          card: card,
                          options: {
                              number: {
                                  placeholder: 'Card number',
                                  style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                              },
                              cvv: {
                                  placeholder: 'CVV',
                                  style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                              }
                          }
                      },
                  { 'data-ajax-redirect': root_url('/subscription/' ~ subscription.id) }) }}
              {% else %}
                <!-- Example - Drop-In Twig Helper on Subscription Page - Add card form from subscriptions page. -->
                  <p>Add Payment Method</p>
                  {{ subscriptionCardForm('add',
                      {
                          options: {
                              number: {
                                  placeholder: 'Card number',
                                  style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                              },
                              cvv: {
                                  placeholder: 'CVV',
                                  style: "font-family: Helvetica Neue, Courier New, Courier Monospace, monospace; letter-spacing: 1.5px; font-weight: bold; font-size: 16px; color: #555; line-height: 42px; width: 100%;"
                              }
                          }
                      },
                  { 'data-ajax-redirect': root_url('/subscription/' ~ subscription.id) }) }}
              {% endif %}
          </div>
      {% else %}
          <p class="flash error">Subscription not found</p>
      {% endif %}
    </div>
  </div>
</div>
