---
action: 'shop:category'
template: sitemap
protocol: all
published: true
name: 'Sitemap Categories'
url: /sitemap-categories.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% tree categories %}
{% for category in tree.items %}                                    
{% set prefix = 'category/' %}
{% if category.parent %}
{% set prefix = prefix ~ category.parent.url_name ~ '/' %}
{% endif %}
{% set page_url = "https:#{site_url('/')}#{prefix}#{category.url_name}" %}
{% branch category.children %}
  <url>
    <loc>{{ page_url }}</loc>
    <lastmod>{{ category.updated_at|date("Y-m-d\\TH:i:sP") }}</lastmod>
  </url>
{% endfor %}                
{% endtree %}
</urlset>