    /*Ensures cart fits screen on mobile*/

    @media only screen and (max-width: 450px) {
        .cart-item-thumb, span.discount {
            display: none;
        }
    }

    /*Shop Category Accordion*/

    @media only screen and (max-width: 991px) {
        .plus, .minus {
            visibility: initial;
        }
        .shop-sidebar .nav-item {
            width: 100%;
        }
        .accordion-title {
            cursor: pointer;
            padding: 0;
        }
        #sidebar-accordions .minus {
            display: none;
        }
        #sidebar-accordions .card-body {
            padding: 0.25rem 0.5rem 1rem 0.5rem;
        }
    }
    @media only screen and (min-width: 990px) {
        #category-accordion .plus, .minus {
            visibility: hidden;
        }
        #manufacturer-accordion .plus, .minus {
            visibility: initial;
        }
        .shop-sidebar .nav-item {
            width: 100%;
        }
        #manufacturer-accordion .accordion-title {
            cursor: pointer;
            padding: 0;
            width: 100%;
        }
        .minus {
            display: none;
        }
        #manufacturer-accordion .card-body {
            padding: 0.25rem 0.5rem 1rem 0.5rem;
        }
    }
    .owl-nav {
        width: 100%;
    }
    .owl-prev > span, .owl-next > span {
        font-size: 2rem;
    }
    .owl-next {
        position: absolute;
        right: 0px;
    }