---
action: 'shop:product'
template: master
protocol: all
published: true
name: Product
url: '/product/:urlName'
---

{{ partial('page-header', {
    'background': theme.imageShopHeader,
    'title': product.name
}) }}

<div id="content">
    <div class="block block-gray">
        <div class="block-content">
            <div class="container">
                <div class="row">

                    <div id="product-images" class="col-lg-6">
                        {{ partial('shop-product-images') }}
                    </div>

                    <div id="product-content" class="col-lg-6">
                        {{ partial('shop-product-content') }}
                    </div>

                    <div class="col-lg-12">
                        <div id="product-information">
                        {{ partial('shop-product-tabs') }}
                        </div>

                        {{ partial('shop-product-cross-sells') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if theme.productSchema %}
{{ partial('shop-product-schema') }}
{% endif %}