---
action: 'shop:category'
template: master
protocol: all
published: true
name: Category
url: '/category/:urlName@/:page?'
---

{{ partial('page-header', {
    'background': theme.imageCategoriesHeader,
    'title': 'Category: ' ~ category.name
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">                

            {{ partial('shop-products', { 'products': products }) }}
            
        </div>
    </div>    
</div>