---
action: 'shop:logout'
description: ''
template: master
protocol: ''
published: '1'
redirect: ''
name: Logout
url: /logout
---

<div id="content">
    <div class="block">
        <div class="block-content">            
            <div class="container">

                <p>Logging out...</p>

            </div>
        </div>
    </div>
</div>