---
action: 'shop:receipt'
template: master
protocol: all
published: true
name: 'Receipt'
url: '/receipt/:paymenthash'
---

{{ partial('page-header', {
    'background': theme.imageShopHeader,
    'title': page.title
}) }}

<div id="content">
    <div class="block block-gray">
        <div class="block-content">
            <div class="container">

                <div class="block-header text-center">
                    <h2>Thank you for your order!</h2>
                    <p>Your order has been placed and will be processed as soon as possible.</p>
                </div>

                <h4>Order #{{ '%04d'|format(invoice.order.number) }}</h4>
                <p>Order Date: {{ invoice.order.created_at.format('M jS, Y') }}</p>

                {{ partial('shop-invoice-items', { 'invoice': invoice }) }}
                {{ partial('shop-invoice-totals', { 'invoice': invoice }) }}

                {% if order.hasUpcomingOrders() %}
                <hr>
                <h4>Upcoming order:</h4>
                 {% for upcomingOrder in order.upcomingOrders %}
                     {{ partial('shop-cart-items', {
                        'edit_cart': false,
                        'items': upcomingOrder.items
                    }) }}
                     {{ partial('shop-invoice-totals', { 'invoice': upcomingOrder }) }}
                 {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% if theme.collectGoogleReviews and invoice.order.shipping_address.country_code == 'GB' %}
<script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>

<script>
  window.renderOptIn = function() {
    window.gapi.load('surveyoptin', function() {
      window.gapi.surveyoptin.render(
        {
          "merchant_id": 126580277,
          "order_id": {{ invoice.order.id }},
          "email": "{{ invoice.order.customer.email }}",
          "delivery_country": "{{ invoice.order.shipping_address.country_code }}",
          "estimated_delivery_date": "{{ invoice.order.status_updated_at | date_modify("+2 day") | date("Y/m/d")}}",
          "opt_in_style": "BOTTOM_LEFT_DIALOG"
        });
    });
  }
</script>

<!-- BEGIN GCR Language Code -->
<script>
    window.___gcfg = {
        lang: 'en_GB'
    };
</script>
<!-- END GCR Language Code -->
{% endif %}