---
action: 'cmscontent:archive'
template: sitemap
protocol: all
published: true
name: 'Sitemap Archive'
url: /sitemap-archive.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% tree archives %}
{% for post in tree.items %}
  <url>
    <loc>{{ post.permalink }}</loc>
    <lastmod>{{ post.publised_on|date("Y-m-d\\TH:i:sP") }}</lastmod>
  </url>
{% endfor %}
{% endtree %}
</urlset>