---
template: master
protocol: all
published: true
name: 'Home'
url: /
---

{{ partial('banner', {
	'background': theme.imageHomeBanner,
    'heading':    theme.textHomeBannerHeading,
    'content':    theme.textHomeBannerContent
}) }}

{% if theme.enableHowItWorks %}
	{{ partial('home-howitworks') }}
{% endif %}

{% if theme.enableFeaturedTestimonial %}
	<div class="block block-primary">
		<div class="block-content">
			<div class="container text-center testimonial">
				{{ content_block('home-featured-testimonial') }} 
			</div>
		</div>
	</div>		
{% endif %}

{% if theme.enableFeaturedPlans %}
	{{ partial('home-featured-plans') }}
{% endif %}

{% if theme.enableFeaturedProducts %}
	{{ partial('home-featured-products') }}
{% endif %}

{% if theme.enableCallout %}
	{{ partial('callout') }}
{% endif %}

{% if theme.enableFeaturedBlogPosts %}
	{{ partial('home-featured-blog') }}
{% endif %}