---
content_type: 'text/html; charset=utf-8'
---
<!doctype html>
<html lang="en">
<head>

   {{ partial('template-head') }}

</head>
<body>

    {{ code_block('before-page') }}
    {% if theme.tagManager %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PR3SZJK"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    <div id="page" class="page-basic" style="background-image: url({{ theme.comingSoonBackgroundImage.thumbnail('auto', 'auto') }});">
        
        {{ partial('basic-header') }}

        <main id="main" role="main">
            {{ page() }}
        </main>

        {{ partial('basic-footer') }}

    </div>

    {{ code_block('after-page') }}

    {{ partial('template-foot') }}

</body>
</html>