---
content_type: 'text/html; charset=utf-8'
---
<!doctype html>
<html lang="en">
<head>

   {{ partial('template-head') }}

</head>
<body>
    <!-- Google Tag Manager (noscript) -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PR3SZJK"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    
    <!-- End Google Tag Manager (noscript) -->
    <div id="page">
        {{ partial('master-topbar') }}
        {{ partial('master-header') }}

        <main id="main" role="main">
            {{ page() }}
        </main>

        {{ partial('master-footer') }}
    </div>

    {{ partial('master-offcanvas') }}

    {{ partial('template-foot') }}

</body>
</html>