---
action: 'shop:products'
template: sitemap
protocol: all
published: true
name: 'Sitemap Static'
url: /sitemap-static.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://tonebuddy.co.uk</loc>
  </url>
  <url>
    <loc>https://tonebuddy.co.uk/shop</loc>
  </url>
  <url>
    <loc>https://tonebuddy.co.uk/archive/blog/</loc>
  </url>
</urlset>