---
template: master
protocol: all
published: true
name: 'Change Password'
url: '/account/password'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">   
        <div class="container">        
            <div class="row">
                <div class="col-lg-3">                
                    {{ partial('account-sidebar', { 'active': 'password' }) }}
                </div>

                <div class="col-lg-9">
                    {{ partial('account-password-change-form') }}
                </div>
            </div>
        </div>        
    </div>    
</div>