<div id="subscribe-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">        
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Subscribe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-close" aria-hidden="true"></span>
                </button>
            </div>
                
            <div class="modal-body">
                
                {{ content_block('coming-soon-subscribe-modal') }}               
                {{ partial('subscribe-form') }}

            </div>
        </div>
    </div>
</div>