---
template: basic
protocol: all
published: true
name: 'Coming Soon'
url: /coming-soon
---

<div class="callout block">
    <div class="block-content">
        <div class="container text-center text-white">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    {{ content_block('coming-soon') }}
                    {% if theme.comingSoonSubscribe %}  
                        <a class="btn btn-outline-light btn-lg" href="#" data-toggle="modal" data-target="#subscribe-modal">Notify Me</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>