---
action: 'shop:customerProfile'
template: master
protocol: all
published: true
name: 'Marketing'
url: '/account/marketing'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">           
        <div class="container">        
            <div class="row">

                <div class="col-lg-3">                
                    {{ partial('account-sidebar') }}
                </div>

                <div class="col-lg-9" id="marketing-preferences">
                    {{ partial('account-marketing-preferences') }}
                </div>

            </div>
        </div>        
    </div>    
</div>