---
action: 'subscriptions:subscriptions'
template: master
protocol: all
published: true
name: 'Subscriptions'
url: '/account/subscriptions'
---

{{ partial('page-header', {
    'background': theme.defaultBanner,
    'title': page.title
}) }}

<div id="content" class="block block-gray">
    <div class="block-content">
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    {{ partial('account-sidebar', { active: 'subscriptions' }) }}
                </div>

                <div class="col-lg-9">

                    {{ partial('flash') }}

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Subscriptions</h4>

                            {% if subscriptions and subscriptions.count %}
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Started</th>
                                                <th>Number of Products</th>
                                                <th>Billing Plan</th>
                                                <th>Next Renewal</th>
                                                <th class="text-right">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for subscription in subscriptions | extended_sort('created_at', false) %}
                                              <a href="{{ site_url('/account/subscription/' ~ subscription.id) }}">
                                                <tr>
                                                    <td>{{ subscription.created_at.format("m/d/Y") }}</td>
                                                    <td class="quantity">
                                                        <a href="{{ site_url('/account/subscription/' ~ subscription.id) }}">
                                                            {{ subscription.products.first.quantity }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ subscription.billing_plan.name }}

                                                        <div class="{{ subscription.status.name | default ('trial') | lower}}">
                                                            {{ subscription.status.name | default ('trial') | upper }}
                                                        </div>
                                                    </td>
                                                    <td><strong>{{ subscription.nextRenewalDate() }}</strong><div class="total">{{ subscription.nextRenewalAmount() }}<br>
                                                    </div>
                                                    </td>
                                                    <td class="text-right"><a href="{{ site_url('/account/subscription/' ~ subscription.id) }}">View</a></td>
                                                </tr>
                                              </a>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>There is currently no subscriptions for your account.</p>
                                <a class="btn btn-primary" href="{{ site_url('/shop') }}">Continue Shopping</a>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>